
"""
More Variables :

Total Races from current race
- Races in the last 7/14/28/60/90/180/365/730 days 
- Races won in the 7/14/28/60/90/180/365/730 days
- Races placed in the 7/14/28/60/90/180/365/730 days


"""


# Import the code

In [ ]:

#fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'
fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

In [ ]:

class Data(object):
    pass

df = Data
summ = Data

In [ ]:
import helpdesk as hd

In [ ]:

import pandas as pd, numpy as np
from datetime import datetime

In [ ]:
DEBUG = True

In [ ]:

pd.set_option('display.max_rows', 50);
pd.set_option('display.max_columns', 50);
pd.set_option('display.width', 200);

In [ ]:

# Importing Dog Race Results

#res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20211201_20211231.csv')
#df.res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20220101_20220531.csv')

print(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/dog_results_2021Q1_2021Q4.csv')
print(df.res_raw_2021Q1Q4.columns.values.tolist())
print(df.res_raw_2021Q1Q4.shape)

df.res_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')
print(df.res_raw_2022Q1Q2.columns.values.tolist())
print(df.res_raw_2022Q1Q2.shape)

In [ ]:

df.res_raw = df.res_raw_2021Q1Q4.append( df.res_raw_2022Q1Q2 )
print(df.res_raw.columns.values.tolist())
print(df.res_raw.shape)

In [ ]:

df.res_raw.loc[:,"DogName"] = df.res_raw["DogName"].str.replace("'","").str.replace(".","")
if DEBUG: print(df.res_raw.shape) 
# 320 052

#if DEBUG: res_raw[ ~(res_raw.Place.isin( ['D','F','N','R','S','T',''])) ].shape # 66608
if DEBUG: print(df.res_raw[ ~(df.res_raw.Place.isin( ['R','S'])) ].shape) 
# 275 864

df.res_raw2 = df.res_raw[ ~(df.res_raw.Place.isin( ['R','S']))  ]
df.res_ = df.res_raw2[~df.res_raw2.Place.isna()]
if DEBUG: print(df.res_.shape) 
# 273 735

del df.res_raw, df.res_raw2

#res_ = res_raw

In [ ]:

# Importing Race Details 

#race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20211201_20211231.csv', parse_dates = True)
#df.race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20220101_20220531.csv', parse_dates = True)

print(f'{fileloc}/race_details_2022Q1_2022Q2.csv')

df.race_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/race_details_2022Q1_2022Q2.csv', parse_dates = True)
print(df.race_raw_2022Q1Q2.columns.values.tolist())
print(df.race_raw_2022Q1Q2.shape)

df.race_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/race_details_2021Q1_2021Q4.csv', parse_dates = True)
print(df.race_raw_2021Q1Q4.columns.values.tolist())
print(df.race_raw_2021Q1Q4.shape)

In [ ]:

df.race_raw = df.race_raw_2021Q1Q4.append( df.race_raw_2022Q1Q2 )
print(df.race_raw.columns.values.tolist())
print(df.race_raw.shape)

In [ ]:

df.race_raw['Event_Dt'] = pd.to_datetime(df.race_raw['date']).dt.date

#dtvalct = race_raw.Event_Dt.value_counts()

df.race_raw.loc[df.race_raw.Track.isin(['Murray Bridge (MBR)','Murray Bridge (MBS)']), "Track"] = 'Murray Bridge'
df.race_raw.loc[df.race_raw.Track.isin(['Richmond (RIS)']), "Track"] = 'Richmond'

df.race_raw.loc[df.race_raw.Track.isin(['Sandown (SAP)']), "Track"] = 'Sandown Park'

df.race_raw.loc[df.race_raw.Track.isin(['Meadows (MEP)']), "Track"] = 'Meadows'
df.race_raw.loc[df.race_raw.Track.isin(['The Meadows']), "Track"] = 'Meadows'


if DEBUG : print(df.race_raw.shape)

# 2021
# 52,103 Races

# 2022 upto May
# 21,002 Races

# 2022 Q1/Q2
# 38,562 Races

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 81,412 Races

df.race_ = df.race_raw[ ~df.race_raw.Track.str.contains('NZ')]

if DEBUG : print(df.race_.shape)

del df.race_raw

if DEBUG: print(df.race_.dtypes)

In [ ]:

if DEBUG:
    print(df.res_.columns.values.tolist())
    print(df.race_.columns.values.tolist())
    
    print(df.res_.shape)
    print(df.race_.shape)

df.ft = pd.merge(df.res_, df.race_, left_on = 'RaceId', right_on = '@id', how = 'inner', suffixes=('_DOG', '_RACE'))
if DEBUG: print(df.ft.shape)

# 2021
# 333,285

# 2022 upto May
# 132,558

# 2022 Q1/Q2
# 245,827

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 245,827

#qc_DogName = df.ft_merg.DogName.value_counts()

In [ ]:

#summ.ft = hd.describe_df(df.ft)

### Prepare the Base Dataset

In [ ]:

print(df.ft.columns.values.tolist())

In [ ]:


print( pd.DataFrame(df.ft['Place'].value_counts()).transpose() )

place_to_remove = ['F','T','N','P','B','D']

In [ ]:

# Delete races where ft_sp is blank
all_races = df.ft['@id_RACE'].unique().tolist()
print(len(all_races))



blank_ft_sp_races = df.ft[df.ft['ft_sp'].isna()]['@id_RACE'].unique().tolist()
print(len(blank_ft_sp_races))

races_excl_pos = df.ft[df.ft['Place'].isin(place_to_remove)]['@id_RACE'].unique().tolist()
print(len(races_excl_pos))



df_base0 = df.ft[ ( ~df.ft['@id_RACE'].isin(blank_ft_sp_races) ) & ( ~df.ft['@id_RACE'].isin(races_excl_pos) ) ]

print(df.ft.shape)
print(df_base0.shape)

In [ ]:
df_base0.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)

In [ ]:

df_base0[df_base0.DogName.isin(['FOURTH DIMENTION'])].head()

In [ ]:

# Fix the position Variable
df_base0['position'] = df_base0.Place.apply(lambda x : x.replace("=","") if x in ['1=','2=','3=','4=','5=','6=','7=','8='] else x)

print(pd.DataFrame(df_base0.position.value_counts()).transpose())

#Clean the fast track prices
df_base0['ft_sp'] = df_base0.StartPrice.apply(lambda x : float(str(x).replace("$","").replace("F","")) )

In [ ]:

# Add the num_dogs variable

df_num_dogs = df_base0.groupby("@id_RACE").agg( { '@id_DOG':'nunique' } ).reset_index().rename(columns = {'@id_DOG':'x_num_dogs'})

print(df_base0.shape)

df_base1 = pd.merge(df_base0, df_num_dogs, on = ["@id_RACE"], how = 'left')

print(df_base1.shape)
print(df_base1.columns.values.tolist())

In [ ]:

# Top 3 Actuals

##
groupings = ['@id_RACE']

# Actual Result
df_base1['Winner_actual'] = df_base1.apply(lambda x : 1 if int(x.position) ==1 else 0, axis = 1)
df_base1['Top3_actual'] = df_base1.apply(lambda x : 1 if int(x.position) <=3 else 0, axis = 1)

In [ ]:

# Random Position 
##
groupings = ['@id_RACE']

import random
#print(random.uniform(0, 1))

df_base1['rand_mean'] = 0.5
df_base1['rand_uniform'] = np.random.normal( df_base1['rand_mean'] )

## Rank from the random variables 
df_base1["position_random"] = df_base1.groupby(groupings)["rand_uniform"].rank("dense", ascending=False)

# Winner / Place Columns
df_base1['Winner_random'] = df_base1.apply(lambda x : 1 if x.position_random <= 1 else 0, axis = 1)
df_base1['Top3_random'] = df_base1.apply(lambda x : 1 if x.position_random <= 3 else 0, axis = 1)

print(datetime.now())

In [ ]:

##
groupings = ['@id_RACE']

## Rank for Place Preds
df_base1["position_fasttrack"] = df_base1.groupby(groupings)["ft_sp"].rank("dense", ascending=True)

# Winner / Place Columns
df_base1['Winner_fastrack'] = df_base1.apply(lambda x : 1 if x.position_fasttrack <= 1 else 0, axis = 1)
df_base1['Top3_fastrack'] = df_base1.apply(lambda x : 1 if x.position_fasttrack <= 3 else 0, axis = 1)

print(datetime.now())

In [ ]:

print(pd.DataFrame(df_base1.isna().sum()).transpose())

In [ ]:

df.ft.agg({'TrainerName':'nunique', 'Track':'nunique', 'DogName':'nunique'})

In [ ]:
pd.set_option('display.max_rows', 50)

In [ ]:

tracks_unq = df_base1.Track.unique().tolist()

print(type(tracks_unq))

tracks_unq.sort()

print(tracks_unq)

In [ ]:

print(datetime.now().date())

In [ ]:

print(df_base1.columns.values.tolist())

In [ ]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']

# 'TrainerName', 'Track' have been dummified
#cols_to_keep = ['@id_DOG', 'DogName', 'y_runtime', 'RaceId', '@id_RACE', 'position', 'ft_sp', 'x_num_dogs', 'Top3_actual', 'position_random', 'position_fasttrack', 'Winner_fastrack', 'Top3_fastrack', 'Winner_actual', 'Winner_random', 'Top3_random']

cols_for_drop = [ 'Place', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin' \
                 , 'Prizemoney', 'TrainerId', 'TrainerName', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt'\
                 , 'rand_mean', 'rand_uniform']

#'Event_Dt', 

todaydt = datetime.now().date()
exp_fname = f'dataset_base_{todaydt}.csv'

exp_ds = df_base1.drop(columns = cols_for_drop).rename(columns = { 'RunTime' : 'y_runtime' })

In [87]:

print(exp_ds.columns.values.tolist())

['@id_DOG', 'DogName', 'y_runtime', 'RaceId', '@id_RACE', 'position', 'ft_sp', 'x_num_dogs', 'Top3_actual', 'position_random', 'position_fasttrack', 'Winner_fastrack', 'Top3_fastrack', 'Winner_actual', 'Winner_random', 'Top3_random']

In [42]:

exp_ds.head()

         @id_DOG        DogName  y_runtime    TrainerName   @id_RACE  RaceNum          RaceName      Track    Event_Dt  x_dist  df_avg_speed_prev  x_races_tot position  ft_sp
4011   108390981  DOLLY DOES IT      26.43  M Elphinstone  626271182       10    GREAT NORTHERN  Devonport  2021-01-05     452                NaN            0        4   11.0
10008  108390981  DOLLY DOES IT      26.40  M Elphinstone  629797242       10    GREAT NORTHERN  Devonport  2021-01-12     452       17101.778282            1        5    7.0
16043  108390981  DOLLY DOES IT      26.20  M Elphinstone  629797513        4          SUREPICK  Devonport  2021-01-19     452       17111.495202            2        1    7.0
39726  108390981  DOLLY DOES IT      26.48  M Elphinstone  638810808        8         LADBROKES  Devonport  2021-02-16     452       17158.299600            3        7    7.0
51934  108390981  DOLLY DOES IT      26.91  M Elphinstone  643554706        8  NEW RECRUIT 2012  Devonport  2021-03-02     452       17136.096301            4        8   91.0

In [43]:

exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)

In [44]:

exp_ds.describe()

            @id_DOG      y_runtime      @id_RACE        RaceNum         x_dist  df_avg_speed_prev    x_races_tot          ft_sp
count  5.773170e+05  571461.000000  5.773170e+05  577317.000000  577317.000000      576969.000000  577317.000000  572835.000000
mean   4.529757e+08      24.443111  7.291649e+08       6.130635     417.576751       17092.757958      18.616323      16.915183
std    1.123050e+08       4.980097  5.831585e+07       3.286365      83.869702         331.990727      16.087385      20.981730
min    1.083910e+08      10.000000  6.238619e+08       1.000000     259.000000       11387.473779       0.000000       0.260000
25%    3.836047e+08      20.580000  6.798780e+08       3.000000     350.000000       16911.622565       6.000000       4.200000
50%    4.517682e+08      23.540000  7.290297e+08       6.000000     400.000000       17115.471218      14.000000       8.700000
75%    5.283827e+08      27.260000  7.792435e+08       9.000000     461.000000       17293.950122      27.000000      20.600000
max    2.145360e+09     396.120000  8.292517e+08      18.000000     732.000000       40200.000000     126.000000     999.990000