
"""
More Variables :

Total Races from current race
- Races in the last 7/14/28/60/90/180/365/730 days 
- Races won in the 7/14/28/60/90/180/365/730 days
- Races placed in the 7/14/28/60/90/180/365/730 days


"""


# Import the code

In [1]:

#fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'
fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [4]:

import pandas as pd, numpy as np
from datetime import datetime

In [5]:
DEBUG = True

In [6]:

pd.set_option('display.max_rows', 50);
pd.set_option('display.max_columns', 50);
pd.set_option('display.width', 200);

In [7]:

# Importing Dog Race Results

#res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20211201_20211231.csv')
#df.res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20220101_20220531.csv')

print(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/dog_results_2021Q1_2021Q4.csv')
print(df.res_raw_2021Q1Q4.columns.values.tolist())
print(df.res_raw_2021Q1Q4.shape)

df.res_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')
print(df.res_raw_2022Q1Q2.columns.values.tolist())
print(df.res_raw_2022Q1Q2.shape)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti/dog_results_2022Q1_2022Q2.csv
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(435715, 19)
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(320052, 19)

In [8]:

df.res_raw = df.res_raw_2021Q1Q4.append( df.res_raw_2022Q1Q2 )
print(df.res_raw.columns.values.tolist())
print(df.res_raw.shape)

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(755767, 19)

In [9]:

df.res_raw.loc[:,"DogName"] = df.res_raw["DogName"].str.replace("'","").str.replace(".","")
if DEBUG: print(df.res_raw.shape) 
# 320 052

#if DEBUG: res_raw[ ~(res_raw.Place.isin( ['D','F','N','R','S','T',''])) ].shape # 66608
if DEBUG: print(df.res_raw[ ~(df.res_raw.Place.isin( ['R','S'])) ].shape) 
# 275 864

df.res_raw2 = df.res_raw[ ~(df.res_raw.Place.isin( ['R','S']))  ]
df.res_ = df.res_raw2[~df.res_raw2.Place.isna()]
if DEBUG: print(df.res_.shape) 
# 273 735

del df.res_raw, df.res_raw2

#res_ = res_raw

(755767, 19)
(649399, 19)
(644761, 19)

In [10]:

# Importing Race Details 

#race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20211201_20211231.csv', parse_dates = True)
#df.race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20220101_20220531.csv', parse_dates = True)

print(f'{fileloc}/race_details_2022Q1_2022Q2.csv')

df.race_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/race_details_2022Q1_2022Q2.csv', parse_dates = True)
print(df.race_raw_2022Q1Q2.columns.values.tolist())
print(df.race_raw_2022Q1Q2.shape)

df.race_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/race_details_2021Q1_2021Q4.csv', parse_dates = True)
print(df.race_raw_2021Q1Q4.columns.values.tolist())
print(df.race_raw_2021Q1Q4.shape)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti/race_details_2022Q1_2022Q2.csv
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(38562, 8)
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(51833, 8)

In [11]:

df.race_raw = df.race_raw_2021Q1Q4.append( df.race_raw_2022Q1Q2 )
print(df.race_raw.columns.values.tolist())
print(df.race_raw.shape)

['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(90395, 8)

In [12]:

df.race_raw['Event_Dt'] = pd.to_datetime(df.race_raw['date']).dt.date

#dtvalct = race_raw.Event_Dt.value_counts()

df.race_raw.loc[df.race_raw.Track.isin(['Murray Bridge (MBR)','Murray Bridge (MBS)']), "Track"] = 'Murray Bridge'
df.race_raw.loc[df.race_raw.Track.isin(['Richmond (RIS)']), "Track"] = 'Richmond'

df.race_raw.loc[df.race_raw.Track.isin(['Sandown (SAP)']), "Track"] = 'Sandown Park'

df.race_raw.loc[df.race_raw.Track.isin(['Meadows (MEP)']), "Track"] = 'Meadows'
df.race_raw.loc[df.race_raw.Track.isin(['The Meadows']), "Track"] = 'Meadows'


if DEBUG : print(df.race_raw.shape)

# 2021
# 52,103 Races

# 2022 upto May
# 21,002 Races

# 2022 Q1/Q2
# 38,562 Races

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 81,412 Races

df.race_ = df.race_raw[ ~df.race_raw.Track.str.contains('NZ')]

if DEBUG : print(df.race_.shape)

del df.race_raw

if DEBUG: print(df.race_.dtypes)

(90395, 9)
(81412, 9)
@id           int64
RaceNum       int64
RaceName     object
RaceTime     object
Distance     object
RaceGrade    object
Track        object
date         object
Event_Dt     object
dtype: object

In [13]:

if DEBUG:
    print(df.res_.columns.values.tolist())
    print(df.race_.columns.values.tolist())
    
    print(df.res_.shape)
    print(df.race_.shape)

df.ft = pd.merge(df.res_, df.race_, left_on = 'RaceId', right_on = '@id', how = 'inner', suffixes=('_DOG', '_RACE'))
if DEBUG: print(df.ft.shape)

# 2021
# 333,285

# 2022 upto May
# 132,558

# 2022 Q1/Q2
# 245,827

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 245,827

#qc_DogName = df.ft_merg.DogName.value_counts()

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']
(644761, 19)
(81412, 9)
(577317, 28)

In [14]:

#summ.ft = hd.describe_df(df.ft)

### Prepare the Base Dataset

In [15]:

print(df.ft.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']

In [16]:

#Clean the fast track prices
df.ft['ft_sp'] = df.ft.StartPrice.apply(lambda x : float(str(x).replace("$","").replace("F","")) )

In [17]:

print( pd.DataFrame(df.ft['Place'].value_counts()).transpose() )

place_to_remove = ['F','T','N','P','B','D']

           1      2      3      4      5      6      7      8     F     T    N   3=   4=   2=   5=   1=   6=    P   7=   B   D
Place  80621  80259  80031  79721  78416  72837  58238  38959  3402  1199  998  476  423  416  373  306  271  222  114  21  14

In [18]:

# Delete races where ft_sp is blank
all_races = df.ft['@id_RACE'].unique().tolist()
print(len(all_races))


blank_ft_sp_races = df.ft[df.ft['ft_sp'].isna()]['@id_RACE'].unique().tolist()
print(len(blank_ft_sp_races))

races_excl_pos = df.ft[df.ft['Place'].isin(place_to_remove)]['@id_RACE'].unique().tolist()
print(len(races_excl_pos))



df_base0 = df.ft[ ( ~df.ft['@id_RACE'].isin(blank_ft_sp_races) ) & ( ~df.ft['@id_RACE'].isin(races_excl_pos) ) ]

print(df.ft.shape)
print(df_base0.shape)

80909
1391
4407
(577317, 29)
(541552, 29)

In [19]:
df_base0.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)

/tmp/ipykernel_11381/3558503419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_base0.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)

In [20]:

df_base0[df_base0.DogName.isin(['FOURTH DIMENTION'])].head()

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,ft_sp
11600,114244064,2,FOURTH DIMENTION,3.0,3,33.4,$4.20,NaN,0.39,0.39,M/22,1,NaN,8.36,22.75,NaN,631783547,131578,P Pollutro,631783547,7,TAB - LONG MAY WE PLAY,05:15PM,400m,Grade 5 T3,Warragul,14 Jan 21,2021-01-14,4.2
26936,114244064,2,FOURTH DIMENTION,8.0,8,33.2,$2.70F,NaN,0.60,0.60,M/33,0,NaN,8.56,23.16,NaN,636866192,131578,P Pollutro,636866192,12,SENNACHIE AT STUD,06:08PM,400m,Grade 5,Warragul,01 Feb 21,2021-02-01,2.7
51814,114244064,8,FOURTH DIMENTION,3.0,3,33.6,$29.60,NaN,7.60,0.36,M/4,1,NaN,4.00,17.61,NaN,645823097,131578,P Pollutro,645823097,12,DOWNLOAD THE NEW WATCHDOG APP,02:35PM,300m,Grade 5,Healesville,02 Mar 21,2021-03-02,29.6
59730,114244064,3,FOURTH DIMENTION,6.0,6,34.0,$9.20,NaN,2.89,0.46,M/66,5,NaN,8.49,23.13,NaN,649065546,131578,P Pollutro,649065546,11,PAUA KENNELS (250+ RANK),06:27PM,400m,Grade 5,Warragul,11 Mar 21,2021-03-11,9.2
67746,114244064,3,FOURTH DIMENTION,4.0,4,33.9,$35.00,NaN,2.09,1.81,M/43,4,NaN,8.96,23.16,NaN,651668743,131578,P Pollutro,651668743,12,TAB - LONG MAY WE PLAY,09:22PM,400m,Grade 5,Warragul,20 Mar 21,2021-03-20,35.0

In [21]:

# Fix the position Variable
df_base0['position'] = df_base0.Place.apply(lambda x : x.replace("=","") if x in ['1=','2=','3=','4=','5=','6=','7=','8='] else x)

print(pd.DataFrame(df_base0.position.value_counts()).transpose())

              1      2      3      4      5      6      7      8
position  75886  75776  75705  75508  74454  69446  55909  38868

/tmp/ipykernel_11381/2198425305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_base0['position'] = df_base0.Place.apply(lambda x : x.replace("=","") if x in ['1=','2=','3=','4=','5=','6=','7=','8='] else x)

In [22]:

# Add the num_dogs variable

df_num_dogs = df_base0.groupby("@id_RACE").agg( { '@id_DOG':'nunique' } ).reset_index().rename(columns = {'@id_DOG':'x_num_dogs'})

print(df_base0.shape)

df_base1 = pd.merge(df_base0, df_num_dogs, on = ["@id_RACE"], how = 'left')

print(df_base1.shape)
print(df_base1.columns.values.tolist())

(541552, 30)
(541552, 31)
['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'position', 'x_num_dogs']

In [23]:

# Top 3 Actuals

##
groupings = ['@id_RACE']

# Actual Result
df_base1['Winner_actual'] = df_base1.apply(lambda x : 1 if int(x.position) ==1 else 0, axis = 1)
df_base1['Top3_actual'] = df_base1.apply(lambda x : 1 if int(x.position) <=3 else 0, axis = 1)

In [24]:

# Random Position 
##
groupings = ['@id_RACE']

import random
#print(random.uniform(0, 1))

df_base1['rand_mean'] = 0.5
df_base1['rand_uniform'] = np.random.normal( df_base1['rand_mean'] )

## Rank from the random variables 
df_base1["position_random"] = df_base1.groupby(groupings)["rand_uniform"].rank("dense", ascending=False)

# Winner / Place Columns
df_base1['Winner_random'] = df_base1.apply(lambda x : 1 if x.position_random <= 1 else 0, axis = 1)
df_base1['Top3_random'] = df_base1.apply(lambda x : 1 if x.position_random <= 3 else 0, axis = 1)

print(datetime.now())

2022-11-19 05:04:21.933900

In [25]:

##
groupings = ['@id_RACE']

## Rank for Place Preds
df_base1["position_fasttrack"] = df_base1.groupby(groupings)["ft_sp"].rank("dense", ascending=True)

# Winner / Place Columns
df_base1['Winner_fastrack'] = df_base1.apply(lambda x : 1 if x.position_fasttrack <= 1 else 0, axis = 1)
df_base1['Top3_fastrack'] = df_base1.apply(lambda x : 1 if x.position_fasttrack <= 3 else 0, axis = 1)

print(datetime.now())

2022-11-19 05:04:32.982759

In [26]:

print(pd.DataFrame(df_base1.isna().sum()).transpose())

   @id_DOG  Place  DogName  Box  Rug  Weight  StartPrice  Handicap  Margin1  Margin2    PIR  Checks  Comments  SplitMargin  RunTime  Prizemoney  RaceId  TrainerId  TrainerName  @id_RACE  RaceNum  \
0        0      0        0    0    0       1           0    541552       19    75886  72204       0    261971        91093        0      168479       0          0            0         0        0

   RaceName  RaceTime  Distance  RaceGrade  Track  date  Event_Dt  ft_sp  position  x_num_dogs  Winner_actual  Top3_actual  rand_mean  rand_uniform  position_random  Winner_random  Top3_random  \
0        15         0         0          0      0     0         0      0         0           0              0            0          0             0                0              0            0

   position_fasttrack  Winner_fastrack  Top3_fastrack
0                   0                0              0

In [27]:

df.ft.agg({'TrainerName':'nunique', 'Track':'nunique', 'DogName':'nunique'})

TrainerName     3548
Track             59
DogName        25550
dtype: int64

In [28]:
pd.set_option('display.max_rows', 50)

In [29]:

tracks_unq = df_base1.Track.unique().tolist()

print(type(tracks_unq))

tracks_unq.sort()

print(tracks_unq)

<class 'list'>
['Albion Park', 'Angle Park', 'Ballarat', 'Bathurst', 'Bendigo', 'Broken Hill', 'Bulli', 'Bundaberg', 'Cannington', 'Capalaba', 'Casino', 'Coonamble', 'Cranbourne', 'Dapto', 'Darwin', 'Devonport', 'Dubbo', 'Gawler', 'Geelong', 'Gosford', 'Goulburn', 'Grafton', 'Gunnedah', 'Healesville', 'Hobart', 'Horsham', 'Ipswich', 'Kempsey', 'Launceston', 'Lismore', 'Lithgow', 'Maitland', 'Mandurah', 'Meadows', 'Moree', 'Mount Gambier', 'Murray Bridge', 'Muswellbrook', 'Northam', 'Nowra', 'Potts Park', 'Richmond', 'Rockhampton', 'Sale', 'Sandown Park', 'Shepparton', 'Tamworth', 'Taree', 'Temora', 'The Gardens', 'Townsville', 'Traralgon', 'Wagga', 'Warragul', 'Warrnambool', 'Wauchope', 'Wentworth Park', 'Young']

In [30]:

print(datetime.now().date())

2022-11-19

In [31]:

print(df_base1.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'ft_sp', 'position', 'x_num_dogs', 'Winner_actual', 'Top3_actual', 'rand_mean', 'rand_uniform', 'position_random', 'Winner_random', 'Top3_random', 'position_fasttrack', 'Winner_fastrack', 'Top3_fastrack']

In [33]:

print(df_base1.position.value_counts())

1    75886
2    75776
3    75705
4    75508
5    74454
6    69446
7    55909
8    38868
Name: position, dtype: int64

In [39]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']

# 'TrainerName', 'Track' have been dummified
#cols_to_keep = ['@id_DOG', 'DogName', 'y_runtime', 'RaceId', '@id_RACE', 'position', 'ft_sp', 'x_num_dogs', 'Top3_actual', 'position_random', 'position_fasttrack', 'Winner_fastrack', 'Top3_fastrack', 'Winner_actual', 'Winner_random', 'Top3_random', 'RaceGrade', 'Track']

cols_for_drop = [ 'Place', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin' \
                 , 'Prizemoney', 'TrainerId', 'TrainerName', 'RaceNum', 'RaceName', 'RaceTime', 'date' \
                 , 'rand_mean', 'rand_uniform']

#'Event_Dt', 

todaydt = datetime.now().date()
exp_fname = f'dataset_base_{todaydt}.csv'

exp_ds = df_base1.drop( columns = cols_for_drop ).rename( columns = { 'RunTime' : 'y_runtime' } )
exp_ds['y_pos'] = exp_ds['position'].astype(int)

In [40]:

print(exp_ds.columns.values.tolist())

['@id_DOG', 'DogName', 'y_runtime', 'RaceId', '@id_RACE', 'Distance', 'RaceGrade', 'Track', 'Event_Dt', 'ft_sp', 'position', 'x_num_dogs', 'Winner_actual', 'Top3_actual', 'position_random', 'Winner_random', 'Top3_random', 'position_fasttrack', 'Winner_fastrack', 'Top3_fastrack', 'y_pos']

In [41]:

exp_ds.head()

,@id_DOG,DogName,y_runtime,RaceId,@id_RACE,Distance,RaceGrade,Track,Event_Dt,ft_sp,position,x_num_dogs,Winner_actual,Top3_actual,position_random,Winner_random,Top3_random,position_fasttrack,Winner_fastrack,Top3_fastrack,y_pos
0,108390981,DOLLY DOES IT,26.43,626271182,626271182,452m,Mixed 4/5,Devonport,2021-01-05,11.0,4,8,0,0,2.0,0,1,5.0,0,0,4
1,108390981,DOLLY DOES IT,26.40,629797242,629797242,452m,Grade 5,Devonport,2021-01-12,7.0,5,7,0,0,7.0,0,0,5.0,0,0,5
2,108390981,DOLLY DOES IT,26.20,629797513,629797513,452m,Grade 5,Devonport,2021-01-19,7.0,1,7,1,1,5.0,0,0,4.0,0,0,1
3,108390981,DOLLY DOES IT,26.48,638810808,638810808,452m,Mixed 4/5 Heat,Devonport,2021-02-16,7.0,7,8,0,0,1.0,1,1,4.0,0,0,7
4,108390981,DOLLY DOES IT,26.91,643554706,643554706,452m,Grade 4,Devonport,2021-03-02,91.0,8,8,0,0,4.0,0,0,8.0,0,0,8

In [42]:

exp_ds.describe()

,@id_DOG,y_runtime,RaceId,@id_RACE,ft_sp,x_num_dogs,Winner_actual,Top3_actual,position_random,Winner_random,Top3_random,position_fasttrack,Winner_fastrack,Top3_fastrack,y_pos
count,5.415520e+05,541552.000000,5.415520e+05,5.415520e+05,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000,541552.000000
mean,4.525647e+08,24.427979,7.292605e+08,7.292605e+08,16.917818,7.305492,0.140127,0.419843,4.152746,0.139857,0.419435,4.013938,0.145510,0.437633,4.150733
std,1.121930e+08,4.983891,5.831714e+07,5.831714e+07,20.995473,0.950365,0.347119,0.493534,2.159921,0.346839,0.493467,2.088645,0.352614,0.496096,2.160054
min,1.083910e+08,10.000000,6.238619e+08,6.238619e+08,0.260000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,3.836042e+08,20.550000,6.802578e+08,6.802578e+08,4.200000,7.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000
50%,4.517679e+08,23.540000,7.293859e+08,7.293859e+08,8.700000,8.000000,0.000000,0.000000,4.000000,0.000000,0.000000,4.000000,0.000000,0.000000,4.000000
75%,5.271657e+08,27.190000,7.792436e+08,7.792436e+08,20.600000,8.000000,0.000000,1.000000,6.000000,0.000000,1.000000,6.000000,0.000000,1.000000,6.000000
max,2.145360e+09,396.120000,8.292517e+08,8.292517e+08,999.990000,8.000000,1.000000,1.000000,8.000000,1.000000,1.000000,8.000000,1.000000,1.000000,8.000000

In [43]:

exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)

In [44]:

print('THE END')

THE END