
"""

CREATE VARIABLES 
- Create Variables for Trainer Name
    All of the ones including average length behind etc

HOW (v1) ? 
- Bring the dataset at the Trainer + Race level - whatever I can 
    - - This automatically brings the dataste to a Trainer + Grade level, as Grade is a property of the Race
    - - Such as the number of dogs in prev race, 
    - - Min, Max, Average of the runtime, distance, position

OR 

HOW (v2) ? 
- Trainer + Race + Dognumber dataset
    - - Grab all in 1 and then run the code
    - - Grab all the races with multiple races, rename 2 as 1 and 1 as 2. Run the code
    - - Do step 2 with races with 3 or more dogs from the same trainer 
    - - Add the given variables 
    - - Append all datasets

"""


# Import the code

In [1]:

#fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'
fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one-8c-32gb/code/Users/karan.bhatti', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [4]:

import pandas as pd, numpy as np
from datetime import datetime

In [5]:
DEBUG = True

In [6]:
pd.set_option('display.max_rows', 50)

In [7]:
pd.set_option('display.max_columns', 50)

## IMPORTING THE RAW BASE

In [8]:

df.ft_raw = pd.read_csv(f'{fileloc}/raw_base_2023-02-09.csv', parse_dates = True)

print(df.ft_raw.shape)
print(df.ft_raw.columns.values.tolist())

(641710, 45)
['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap_DOG', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'y_runtime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', 'RaceBox', 'Rating', 'DogGrade', 'DogGOBIS', 'DogPRIZE', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'RaceTimeDateUTC', 'GOBIS', 'Hurdle', 'Handicap_RACE', 'TAB', 'GradeCode', 'racetime_fix', 'ft_sp', 'x_num_dogs', 'position', 'y_margin', 'y_pos']

In [9]:

df_base_sp = df.ft_raw.copy()

In [10]:

print(df_base_sp.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap_DOG', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'y_runtime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', 'RaceBox', 'Rating', 'DogGrade', 'DogGOBIS', 'DogPRIZE', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'RaceTimeDateUTC', 'GOBIS', 'Hurdle', 'Handicap_RACE', 'TAB', 'GradeCode', 'racetime_fix', 'ft_sp', 'x_num_dogs', 'position', 'y_margin', 'y_pos']

In [11]:

df_base_sp.head()

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap_DOG,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,y_runtime,Prizemoney,RaceId,TrainerId,TrainerName,RaceBox,Rating,DogGrade,DogGOBIS,DogPRIZE,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,RaceTimeDateUTC,GOBIS,Hurdle,Handicap_RACE,TAB,GradeCode,racetime_fix,ft_sp,x_num_dogs,position,y_margin,y_pos
0,108390981,4,DOLLY DOES IT,5.0,5,30.4,$11.00,NaN,6.00,0.14,0,0,B3,NaN,26.43,80.0,626271182,92892,M Elphinstone,5.0,97.0,4,N,32060.0,626271182,10,GREAT NORTHERN,03:14PM,452m,Mixed 4/5,Devonport,05 Jan 21,2021-01-05,05 Jan 21 04:14AM,NaN,NaN,NaN,NaN,X45,15:14:00,11.0,8,4,6.00,4
1,108390981,5,DOLLY DOES IT,4.0,4,30.2,$7.00,NaN,6.00,1.14,0,0,NaN,NaN,26.40,0.0,629797242,92892,M Elphinstone,4.0,95.0,5,N,32140.0,629797242,10,GREAT NORTHERN,03:09PM,452m,Grade 5,Devonport,12 Jan 21,2021-01-12,12 Jan 21 04:09AM,NaN,NaN,NaN,NaN,5,15:09:00,7.0,7,5,6.00,5
2,108390981,1,DOLLY DOES IT,5.0,5,30.2,$7.00,NaN,5.25,NaN,0,0,NaN,8.1,26.20,1890.0,629797513,92892,M Elphinstone,5.0,90.0,5,N,32140.0,629797513,4,SUREPICK,01:27PM,452m,Grade 5,Devonport,19 Jan 21,2021-01-19,19 Jan 21 02:27AM,NaN,NaN,NaN,NaN,5,13:27:00,7.0,7,1,5.25,1
3,108390981,7,DOLLY DOES IT,1.0,1,30.0,$7.00,NaN,10.50,2.00,0,0,NaN,NaN,26.48,0.0,638810808,92892,M Elphinstone,1.0,96.0,4,N,34030.0,638810808,8,LADBROKES,02:22PM,452m,Mixed 4/5 Heat,Devonport,16 Feb 21,2021-02-16,16 Feb 21 03:42AM,NaN,NaN,NaN,NaN,X45H,14:42:00,7.0,8,7,10.50,7
4,108390981,8,DOLLY DOES IT,8.0,8,29.9,$91.00,NaN,18.50,3.57,0,0,SO,NaN,26.91,0.0,643554706,92892,M Elphinstone,8.0,85.0,4,N,34030.0,643554706,8,NEW RECRUIT 2012,02:22PM,452m,Grade 4,Devonport,02 Mar 21,2021-03-02,02 Mar 21 03:22AM,NaN,NaN,NaN,NaN,4,14:22:00,91.0,8,8,18.50,8

In [12]:

len(df_base_sp.TrainerId.unique().tolist())

3934

In [13]:

df_base_sp.describe()

,@id_DOG,Box,Rug,Weight,Handicap_DOG,Margin1,Margin2,Checks,SplitMargin,y_runtime,Prizemoney,RaceId,TrainerId,RaceBox,Rating,DogPRIZE,@id_RACE,RaceNum,GOBIS,Hurdle,Handicap_RACE,ft_sp,x_num_dogs,position,y_margin,y_pos
count,6.417100e+05,641710.000000,641710.000000,641709.000000,0.0,641710.000000,552614.000000,641710.000000,534962.000000,641710.000000,441507.000000,6.417100e+05,641710.000000,639849.000000,641710.000000,6.398490e+05,6.417100e+05,641710.000000,0.0,0.0,0.0,641710.000000,641710.000000,641710.000000,641710.000000,641710.000000
mean,4.716331e+08,4.477842,4.585492,29.935242,NaN,6.468379,2.066496,0.482101,7.274142,24.376636,429.389620,7.486843e+08,110851.114122,4.585473,81.945313,1.393480e+04,7.486843e+08,6.167685,NaN,NaN,NaN,17.041069,7.343669,4.169823,6.381256,4.169823
std,1.172652e+08,2.343897,2.432539,3.319049,NaN,8.533878,7.598734,1.521826,2.515334,4.943524,2818.691283,6.927769e+07,77738.478215,2.432556,28.141374,2.566634e+04,6.927769e+07,3.284732,NaN,NaN,NaN,21.141057,0.891946,2.162533,4.780226,2.162533
min,1.083910e+08,1.000000,1.000000,18.700000,NaN,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,6.238619e+08,6418.000000,1.000000,0.000000,0.000000e+00,6.238619e+08,1.000000,NaN,NaN,NaN,0.260000,5.000000,1.000000,0.000000,1.000000
25%,4.077278e+08,2.000000,2.000000,27.200000,NaN,2.510000,0.570000,0.000000,5.500000,20.530000,0.000000,6.892971e+08,65398.000000,2.000000,84.000000,2.670000e+03,6.892971e+08,3.000000,NaN,NaN,NaN,4.200000,7.000000,2.000000,2.510000,2.000000
50%,4.654220e+08,4.000000,4.000000,29.900000,NaN,5.500000,1.400000,0.000000,6.780000,23.510000,50.000000,7.506544e+08,99554.000000,4.000000,91.000000,7.698000e+03,7.506544e+08,6.000000,NaN,NaN,NaN,8.700000,8.000000,4.000000,5.500000,4.000000
75%,5.504112e+08,7.000000,7.000000,32.500000,NaN,9.090000,2.690000,0.000000,8.750000,27.010000,420.000000,8.077565e+08,124111.000000,7.000000,96.000000,1.672500e+04,8.077565e+08,9.000000,NaN,NaN,NaN,20.900000,8.000000,6.000000,9.090000,6.000000
max,2.145360e+09,8.000000,10.000000,55.000000,NaN,5229.500000,5100.140000,25.000000,30.660000,396.120000,1000000.000000,8.686263e+08,335886.000000,10.000000,100.000000,2.259370e+06,8.686263e+08,20.000000,NaN,NaN,NaN,999.990000,8.000000,8.000000,27.000000,8.000000

### B) Create Variable for Speed Profile

In [14]:

# Sort for Easy QC
#df_base_sp.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)
df_base_sp.sort_values(by = ['TrainerId', '@id_RACE', 'Event_Dt'], inplace = True)

In [15]:

df_base_sp[df_base_sp['TrainerId'].isin([92892])].head()

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap_DOG,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,y_runtime,Prizemoney,RaceId,TrainerId,TrainerName,RaceBox,Rating,DogGrade,DogGOBIS,DogPRIZE,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,RaceTimeDateUTC,GOBIS,Hurdle,Handicap_RACE,TAB,GradeCode,racetime_fix,ft_sp,x_num_dogs,position,y_margin,y_pos
0,108390981,4,DOLLY DOES IT,5.0,5,30.4,$11.00,NaN,6.00,0.14,0,0,B3,NaN,26.43,80.0,626271182,92892,M Elphinstone,5.0,97.0,4,N,32060.0,626271182,10,GREAT NORTHERN,03:14PM,452m,Mixed 4/5,Devonport,05 Jan 21,2021-01-05,05 Jan 21 04:14AM,NaN,NaN,NaN,NaN,X45,15:14:00,11.0,8,4,6.00,4
1,108390981,5,DOLLY DOES IT,4.0,4,30.2,$7.00,NaN,6.00,1.14,0,0,NaN,NaN,26.40,0.0,629797242,92892,M Elphinstone,4.0,95.0,5,N,32140.0,629797242,10,GREAT NORTHERN,03:09PM,452m,Grade 5,Devonport,12 Jan 21,2021-01-12,12 Jan 21 04:09AM,NaN,NaN,NaN,NaN,5,15:09:00,7.0,7,5,6.00,5
2,108390981,1,DOLLY DOES IT,5.0,5,30.2,$7.00,NaN,5.25,NaN,0,0,NaN,8.1,26.20,1890.0,629797513,92892,M Elphinstone,5.0,90.0,5,N,32140.0,629797513,4,SUREPICK,01:27PM,452m,Grade 5,Devonport,19 Jan 21,2021-01-19,19 Jan 21 02:27AM,NaN,NaN,NaN,NaN,5,13:27:00,7.0,7,1,5.25,1
3,108390981,7,DOLLY DOES IT,1.0,1,30.0,$7.00,NaN,10.50,2.00,0,0,NaN,NaN,26.48,0.0,638810808,92892,M Elphinstone,1.0,96.0,4,N,34030.0,638810808,8,LADBROKES,02:22PM,452m,Mixed 4/5 Heat,Devonport,16 Feb 21,2021-02-16,16 Feb 21 03:42AM,NaN,NaN,NaN,NaN,X45H,14:42:00,7.0,8,7,10.50,7
4,108390981,8,DOLLY DOES IT,8.0,8,29.9,$91.00,NaN,18.50,3.57,0,0,SO,NaN,26.91,0.0,643554706,92892,M Elphinstone,8.0,85.0,4,N,34030.0,643554706,8,NEW RECRUIT 2012,02:22PM,452m,Grade 4,Devonport,02 Mar 21,2021-03-02,02 Mar 21 03:22AM,NaN,NaN,NaN,NaN,4,14:22:00,91.0,8,8,18.50,8

In [16]:

# ADDITIONAL VARIABLES
vtrnr = ['TrainerId']
vrace = ['@id_RACE']
vevnt = ['Event_Dt']

# Distance and Speed in each race
df_base_sp['x_dist'] = df_base_sp['Distance'].apply(lambda x : x.replace('m','')).astype(int)
df_base_sp['speed'] = (df_base_sp['x_dist'] / df_base_sp['y_runtime'])*1000

# Flag for getting a total race count
df_base_sp['f_1'] = 1

# Total Races
df_base_sp['x_dograced_tot'] = df_base_sp.groupby(vtrnr).cumcount()

In [17]:

df_base_sp.loc[:,"trnr_wins"] = df_base_sp['y_pos'].apply(lambda x : 1 if x == '1' else 0 )


#df_base_sp['x_dograced_tot']

In [18]:

df_base_sp.loc[:,"trnr_fin_plc"] = df_base_sp.apply(lambda x : 1 if (x.position in [1,2,3]) & (x.x_num_dogs >=8) else 1 if (x.position in [1,2]) & (x.x_num_dogs >= 5) else 0 if (x.x_num_dogs < 5) else 0, axis = 1)

In [19]:

df_base_sp.loc[:,"trnr_fin_t2"] = df_base_sp['position'].apply(lambda x : 1 if x in [1,2] else 0 )

In [20]:

df_base_sp.loc[:,"trnr_fin_last"] = df_base_sp.apply(lambda x : 1 if x.y_pos == x.x_num_dogs else 0 , axis = 1)

In [21]:

df_base_sp.loc[:,"trnr_fin_last2"] = df_base_sp.apply(lambda x : 1 if (x.position == x.x_num_dogs) | (x.position == x.x_num_dogs - 1) else 0 , axis = 1)

In [22]:

print(df_base_sp.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap_DOG', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'y_runtime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', 'RaceBox', 'Rating', 'DogGrade', 'DogGOBIS', 'DogPRIZE', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'RaceTimeDateUTC', 'GOBIS', 'Hurdle', 'Handicap_RACE', 'TAB', 'GradeCode', 'racetime_fix', 'ft_sp', 'x_num_dogs', 'position', 'y_margin', 'y_pos', 'x_dist', 'speed', 'f_1', 'x_dograced_tot', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2']

In [23]:

df_base_trnr = df_base_sp.groupby(vtrnr + vrace + vevnt).agg( {'@id_DOG':'nunique', 'trnr_wins':'sum', 'trnr_fin_plc':'sum', 'trnr_fin_t2':'sum', 'trnr_fin_last':'sum', 'trnr_fin_last2':'sum'} ).reset_index().rename(columns = {'@id_DOG':'trnr_num_dogs'})

print(type(df_base_trnr))

print(df_base_trnr.columns.values.tolist())

<class 'pandas.core.frame.DataFrame'>
['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_num_dogs', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2']

In [24]:
print(df_base_trnr.shape)

(585147, 9)

In [25]:

print( len(df_base_trnr['@id_RACE'].unique().tolist()) )

88927

In [26]:

qc_rowcounts = df_base_trnr.groupby('trnr_num_dogs', dropna = False).agg({'@id_RACE':'count'}).reset_index().rename(columns = {'@id_RACE':'trnr_races'})

In [27]:

qc_rowcounts.head()

   trnr_num_dogs  trnr_races
0              1      537902
1              2       40122
2              3        5523
3              4        1170
4              5         304

In [28]:

df_base_trnr.sort_values(by = ['TrainerId','Event_Dt','@id_RACE'], inplace = True)

print(datetime.now())

2023-02-22 21:46:12.338029

In [29]:

df_base_trnr['trnr_xr_races_tot'] = df_base_trnr.groupby(vtrnr).cumcount()

In [30]:

df_base_trnr['trnr_xr_dogsraced_tot'] = df_base_trnr.groupby(vtrnr)['trnr_num_dogs'].cumsum()

In [31]:

df_base_trnr[df_base_trnr.TrainerId.isin([6418])].tail(25)

,TrainerId,@id_RACE,Event_Dt,trnr_num_dogs,trnr_wins,trnr_fin_plc,trnr_fin_t2,trnr_fin_last,trnr_fin_last2,trnr_xr_races_tot,trnr_xr_dogsraced_tot
253,6418,847587300,2022-11-25,1,0,0,0,0,0,253,266
254,6418,847587301,2022-11-25,1,0,0,0,0,0,254,267
255,6418,847916448,2022-11-27,1,0,0,0,0,0,255,268
256,6418,847916457,2022-11-27,1,0,0,0,0,0,256,269
257,6418,848446507,2022-11-29,1,0,0,0,0,1,257,270
258,6418,849399926,2022-11-30,1,0,0,0,1,1,258,271
261,6418,850689484,2022-12-04,1,0,1,0,0,0,259,272
262,6418,850689492,2022-12-04,2,0,0,0,0,0,260,274
259,6418,850678986,2022-12-05,1,0,0,0,0,0,261,275
260,6418,850678991,2022-12-05,1,0,0,0,0,0,262,276
263,6418,852694989,2022-12-09,1,0,0,0,0,0,263,277
264,6418,853569737,2022-12-11,1,0,1,1,0,0,264,278
265,6418,853569738,2022-12-11,1,0,0,0,0,0,265,279
266,6418,853645888,2022-12-12,1,0,0,0,0,0,266,280
267,6418,853645891,2022-12-12,1,0,1,0,0,0,267,281
268,6418,853983127,2022-12-15,1,0,0,0,0,0,268,282
269,6418,856008600,2022-12-16,1,0,0,0,1,1,269,283
270,6418,856008601,2022-12-16,1,0,0,0,0,0,270,284
271,6418,857094861,2022-12-26,1,0,0,0,0,0,271,285
272,6418,859994059,2022-12-30,1,0,1,1,0,0,272,286
273,6418,859994060,2022-12-30,1,0,1,1,0,0,273,287
274,6418,860737546,2023-01-02,1,0,0,0,0,0,274,288
275,6418,864203959,2023-01-15,1,0,0,0,1,1,275,289
276,6418,864203961,2023-01-15,1,0,0,0,0,0,276,290
277,6418,866022096,2023-01-21,1,0,1,0,0,0,277,291

In [32]:

df_base_trnr.loc[:,"trnr_xr_races_tot_prev"] = df_base_trnr.groupby(vtrnr)['trnr_xr_races_tot'].shift(1)
df_base_trnr["trnr_xr_races_tot_prev"].fillna(1, inplace = True)

df_base_trnr.loc[:,"trnr_xr_dogsraced_tot_prev"] = df_base_trnr.groupby(vtrnr)['trnr_xr_dogsraced_tot'].shift(1)
df_base_trnr["trnr_xr_dogsraced_tot_prev"].fillna(1, inplace = True)


df_base_trnr.loc[:,"trnr_wins_prev"] = df_base_trnr.groupby(vtrnr)['trnr_wins'].shift(1)
df_base_trnr["trnr_wins_prev"].fillna(0, inplace = True)

df_base_trnr.loc[:,"trnr_fin_plc_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_plc'].shift(1)
df_base_trnr["trnr_fin_plc_prev"].fillna(0, inplace = True)
df_base_trnr.loc[:,"trnr_fin_t2_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_t2'].shift(1)
df_base_trnr["trnr_fin_t2_prev"].fillna(0, inplace = True)

df_base_trnr.loc[:,"trnr_fin_last_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last'].shift(1)
df_base_trnr["trnr_fin_last_prev"].fillna(0, inplace = True)
df_base_trnr.loc[:,"trnr_fin_last2_prev"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last2'].shift(1)
df_base_trnr["trnr_fin_last2_prev"].fillna(0, inplace = True)

print(datetime.now())

2023-02-22 21:46:12.509628

In [33]:

df_base_trnr.loc[:,"trnr_xr_wins"] = df_base_trnr.groupby(vtrnr)['trnr_wins_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_plc"] = df_base_trnr.groupby(vtrnr)['trnr_fin_plc_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_t2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_t2_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_last"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xr_fin_last2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last2_prev'].rolling(window=999, min_periods = 1).sum().reset_index(0,drop=True)

df_base_trnr['trnr_xr_wins'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_plc'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_t2'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_last'].fillna(0, inplace = True)
df_base_trnr['trnr_xr_fin_last2'].fillna(0, inplace = True)

print(datetime.now())

2023-02-22 21:46:18.180893

In [34]:

df_base_trnr.loc[:,"trnr_xrl5_wins"] = df_base_trnr.groupby(vtrnr)['trnr_wins_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_plc"] = df_base_trnr.groupby(vtrnr)['trnr_fin_plc_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_t2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_t2_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_last"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)
df_base_trnr.loc[:,"trnr_xrl5_fin_last2"] = df_base_trnr.groupby(vtrnr)['trnr_fin_last2_prev'].rolling(window=5, min_periods = 1).sum().reset_index(0,drop=True)

df_base_trnr['trnr_xrl5_wins'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_plc'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_t2'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_last'].fillna(0, inplace = True)
df_base_trnr['trnr_xrl5_fin_last2'].fillna(0, inplace = True)

print(datetime.now())

2023-02-22 21:46:23.741322

In [35]:

# Divide by Total Races
df_base_trnr.loc[:,"trnr_xr_wins_pct"] = df_base_trnr['trnr_xr_wins'] / df_base_trnr['trnr_xr_races_tot_prev']
df_base_trnr['trnr_xr_wins_pct'].fillna(0, inplace = True)

# Divide by Total Dogs
df_base_trnr.loc[:,"trnr_xr_fin_t2_pct"] = df_base_trnr['trnr_xr_fin_t2'] / df_base_trnr['trnr_xr_dogsraced_tot_prev']
df_base_trnr['trnr_xr_fin_t2_pct'].fillna(0, inplace = True)

df_base_trnr.loc[:,"trnr_xr_fin_plc_pct"] = df_base_trnr['trnr_xr_fin_plc'] / df_base_trnr['trnr_xr_dogsraced_tot_prev']
df_base_trnr['trnr_xr_fin_plc_pct'].fillna(0, inplace = True)


# Divide by Total Races
df_base_trnr.loc[:,"trnr_xr_fin_last_pct"] = df_base_trnr['trnr_xr_fin_last'] / df_base_trnr['trnr_xr_races_tot_prev']
df_base_trnr['trnr_xr_fin_last_pct'].fillna(0, inplace = True)

# Divide by Total Dogs
df_base_trnr.loc[:,"trnr_xr_fin_last2_pct"] = df_base_trnr['trnr_xr_fin_last2'] / df_base_trnr['trnr_xr_dogsraced_tot_prev']
df_base_trnr['trnr_xr_fin_last2_pct'].fillna(0, inplace = True)

print(datetime.now())

2023-02-22 21:46:23.882472

In [36]:
print(df_base_trnr.shape)

(585147, 33)

In [37]:

print(pd.DataFrame(df_base_sp.dtypes).transpose())

  @id_DOG   Place DogName      Box    Rug   Weight StartPrice Handicap_DOG  \
0   int64  object  object  float64  int64  float64     object      float64

   Margin1  Margin2     PIR Checks Comments SplitMargin y_runtime Prizemoney  \
0  float64  float64  object  int64   object     float64   float64    float64

  RaceId TrainerId TrainerName  RaceBox   Rating DogGrade DogGOBIS DogPRIZE  \
0  int64     int64      object  float64  float64   object   object  float64

  @id_RACE  ... RaceGrade   Track    date Event_Dt RaceTimeDateUTC    GOBIS  \
0    int64  ...    object  object  object   object          object  float64

    Hurdle Handicap_RACE     TAB GradeCode racetime_fix    ft_sp x_num_dogs  \
0  float64       float64  object    object       object  float64      int64

  position y_margin  y_pos x_dist    speed    f_1 x_dograced_tot trnr_wins  \
0    int64  float64  int64  int64  float64  int64          int64     int64

  trnr_fin_plc trnr_fin_t2 trnr_fin_last trnr_fin_last2
0        int64       int64         int64          int64

[1 rows x 54 columns]

In [38]:

print(pd.DataFrame(df_base_trnr.isna().sum()).transpose())

   TrainerId  @id_RACE  Event_Dt  trnr_num_dogs  trnr_wins  trnr_fin_plc  \
0          0         0         0              0          0             0

   trnr_fin_t2  trnr_fin_last  trnr_fin_last2  trnr_xr_races_tot  \
0            0              0               0                  0

   trnr_xr_dogsraced_tot  trnr_xr_races_tot_prev  trnr_xr_dogsraced_tot_prev  \
0                      0                       0                           0

   trnr_wins_prev  trnr_fin_plc_prev  trnr_fin_t2_prev  trnr_fin_last_prev  \
0               0                  0                 0                   0

   trnr_fin_last2_prev  trnr_xr_wins  trnr_xr_fin_plc  trnr_xr_fin_t2  \
0                    0             0                0               0

   trnr_xr_fin_last  trnr_xr_fin_last2  trnr_xrl5_wins  trnr_xrl5_fin_plc  \
0                 0                  0               0                  0

   trnr_xrl5_fin_t2  trnr_xrl5_fin_last  trnr_xrl5_fin_last2  \
0                 0                   0                    0

   trnr_xr_wins_pct  trnr_xr_fin_t2_pct  trnr_xr_fin_plc_pct  \
0                 0                   0                    0

   trnr_xr_fin_last_pct  trnr_xr_fin_last2_pct
0                     0                      0

In [39]:

df_base_trnr.describe()

,TrainerId,@id_RACE,trnr_num_dogs,trnr_wins,trnr_fin_plc,trnr_fin_t2,trnr_fin_last,trnr_fin_last2,trnr_xr_races_tot,trnr_xr_dogsraced_tot,trnr_xr_races_tot_prev,trnr_xr_dogsraced_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
count,585147.000000,5.851470e+05,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,5.851470e+05,585147.000000
mean,111290.151140,7.487792e+08,1.096665,0.0,0.384322,0.304349,0.151724,0.303566,231.013993,275.873979,230.027439,274.784037,0.0,0.382405,0.302816,0.150261,0.300971,0.0,92.555479,73.557238,33.326916,67.515306,0.0,1.891432,1.498030,0.739794,1.483065,0.0,0.278440,0.348932,inf,0.270299
std,78255.733709,6.933931e+07,0.359754,0.0,0.507673,0.471729,0.358754,0.473545,306.676051,421.741772,306.665966,421.648488,0.0,0.507161,0.471054,0.357328,0.472424,0.0,124.716518,100.019585,45.587204,90.112287,0.0,1.299561,1.197477,0.865783,1.186732,0.0,0.126375,0.135397,NaN,0.121008
min,6418.000000,6.238619e+08,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
25%,65398.000000,6.892970e+08,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,46.000000,49.000000,45.000000,48.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,15.000000,12.000000,6.000000,12.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,0.200000,0.266667,9.375000e-02,0.200000
50%,99499.000000,7.506874e+08,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,122.000000,130.000000,121.000000,129.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,44.000000,34.000000,16.000000,34.000000,0.0,2.000000,1.000000,1.000000,1.000000,0.0,0.272727,0.347368,1.343284e-01,0.256684
75%,125264.000000,8.082212e+08,1.000000,0.0,1.000000,1.000000,0.000000,1.000000,283.000000,312.000000,282.000000,311.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,112.000000,89.000000,41.000000,83.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,0.350000,0.428571,1.917211e-01,0.333333
max,335886.000000,8.686263e+08,8.000000,0.0,3.000000,2.000000,1.000000,2.000000,2611.000000,4360.000000,2610.000000,4359.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,824.000000,710.000000,383.000000,727.000000,0.0,12.000000,8.000000,5.000000,9.000000,0.0,1.000000,1.000000,inf,1.000000


### C) Treat Missing Values

In [40]:

print(datetime.now().date())

2023-02-22

In [41]:

print(df_base_trnr.columns.values.tolist())

['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_num_dogs', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2', 'trnr_xr_races_tot', 'trnr_xr_dogsraced_tot', 'trnr_xr_races_tot_prev', 'trnr_xr_dogsraced_tot_prev', 'trnr_wins_prev', 'trnr_fin_plc_prev', 'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev', 'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last', 'trnr_xr_fin_last2', 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc', 'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2', 'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct', 'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct']


### D) Drop Necessary columns

In [42]:

# 'TrainerName', 'Track' have been dummified

"""
cols_for_drop = ['Box','Rug','Weight','Handicap','Margin1','Margin2','PIR','Checks','Comments','SplitMargin','Prizemoney','RaceId','TrainerId','RaceTime','Distance','RaceGrade','date', 'f_1','speed',\
                'Place', 'StartPrice'\
                ,'speed_prev', 'speed_avg', 'speed_min', 'speed_max', 'speed_range', 'speed_std'\
                , 'DogName', 'TrainerName', 'RaceNum', 'RaceName', 'Track', 'Event_Dt', 'position','y_runtime'\
                , 'x_dist','ft_sp', 'x_dist', 'x_num_dogs'\
                , 'mvt_rtgp_prev', 'mvt_rtgp_avg', 'mvt_rtgp_min' ,'mvt_rtgp_max' ,'mvt_rtgp_range', 'mvt_rtgp_std'\
                , 'y_margin','y_pos'\
                
                , 'trnr_num_dogs', 'trnr_wins', 'trnr_fin_plc', 'trnr_fin_t2', 'trnr_fin_last', 'trnr_fin_last2'\
                , 'trnr_xr_dogsraced_tot', 'trnr_xr_dogsraced_tot_prev']
"""

cols_to_keep = [ 'TrainerId', '@id_RACE', 'Event_Dt'\
                , 'trnr_xr_races_tot', 'trnr_xr_races_tot_prev', 'trnr_wins_prev'\
                , 'trnr_fin_plc_prev', 'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev'\
                
                , 'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last', 'trnr_xr_fin_last2'\
                , 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc', 'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2'\
                
                , 'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct', 'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct']

## SHOULD BE THE LAST STEP OR a Separate Code
#df.ft1 = df.ft.copy()
#exp_ds = df.ft_mvt.drop(columns = cols_for_drop)
exp_ds = df_base_trnr[ cols_to_keep ]

# removed the Categorical columns from the original datast, adds the dummy variables, creates a new dataset
print(exp_ds.columns)

Index(['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_xr_races_tot',
       'trnr_xr_races_tot_prev', 'trnr_wins_prev', 'trnr_fin_plc_prev',
       'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev',
       'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last',
       'trnr_xr_fin_last2', 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc',
       'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2',
       'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct',
       'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct'],
      dtype='object')

In [43]:

exp_ds.head()

,TrainerId,@id_RACE,Event_Dt,trnr_xr_races_tot,trnr_xr_races_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
0,6418,628251506,2021-01-03,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
1,6418,630070641,2021-01-07,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
2,6418,630388780,2021-01-08,2,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.500000,0.500000,0.0,0.00
4,6418,631794071,2021-01-13,3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.333333,0.333333,0.0,0.00
3,6418,631783546,2021-01-14,4,3.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.250000,0.250000,0.0,0.25

### EXPORTING THE SPEED PROFILE csv

In [44]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']
#'Event_Dt', 

cols_for_drop = []

todaydt = datetime.now().date()
exp_fname = f'dataprep_TRNR_performance_{todaydt}.csv'

In [45]:

print(pd.DataFrame(exp_ds.isna().sum()).transpose())

   TrainerId  @id_RACE  Event_Dt  trnr_xr_races_tot  trnr_xr_races_tot_prev  \
0          0         0         0                  0                       0

   trnr_wins_prev  trnr_fin_plc_prev  trnr_fin_t2_prev  trnr_fin_last_prev  \
0               0                  0                 0                   0

   trnr_fin_last2_prev  trnr_xr_wins  trnr_xr_fin_plc  trnr_xr_fin_t2  \
0                    0             0                0               0

   trnr_xr_fin_last  trnr_xr_fin_last2  trnr_xrl5_wins  trnr_xrl5_fin_plc  \
0                 0                  0               0                  0

   trnr_xrl5_fin_t2  trnr_xrl5_fin_last  trnr_xrl5_fin_last2  \
0                 0                   0                    0

   trnr_xr_wins_pct  trnr_xr_fin_t2_pct  trnr_xr_fin_plc_pct  \
0                 0                   0                    0

   trnr_xr_fin_last_pct  trnr_xr_fin_last2_pct
0                     0                      0

In [46]:
print(exp_ds.shape)

(585147, 25)

In [47]:

print(exp_ds.columns.values.tolist())

['TrainerId', '@id_RACE', 'Event_Dt', 'trnr_xr_races_tot', 'trnr_xr_races_tot_prev', 'trnr_wins_prev', 'trnr_fin_plc_prev', 'trnr_fin_t2_prev', 'trnr_fin_last_prev', 'trnr_fin_last2_prev', 'trnr_xr_wins', 'trnr_xr_fin_plc', 'trnr_xr_fin_t2', 'trnr_xr_fin_last', 'trnr_xr_fin_last2', 'trnr_xrl5_wins', 'trnr_xrl5_fin_plc', 'trnr_xrl5_fin_t2', 'trnr_xrl5_fin_last', 'trnr_xrl5_fin_last2', 'trnr_xr_wins_pct', 'trnr_xr_fin_t2_pct', 'trnr_xr_fin_plc_pct', 'trnr_xr_fin_last_pct', 'trnr_xr_fin_last2_pct']

In [48]:

exp_ds.head()

,TrainerId,@id_RACE,Event_Dt,trnr_xr_races_tot,trnr_xr_races_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
0,6418,628251506,2021-01-03,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
1,6418,630070641,2021-01-07,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00
2,6418,630388780,2021-01-08,2,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.500000,0.500000,0.0,0.00
4,6418,631794071,2021-01-13,3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.333333,0.333333,0.0,0.00
3,6418,631783546,2021-01-14,4,3.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.250000,0.250000,0.0,0.25

In [49]:

exp_ds.describe()

,TrainerId,@id_RACE,trnr_xr_races_tot,trnr_xr_races_tot_prev,trnr_wins_prev,trnr_fin_plc_prev,trnr_fin_t2_prev,trnr_fin_last_prev,trnr_fin_last2_prev,trnr_xr_wins,trnr_xr_fin_plc,trnr_xr_fin_t2,trnr_xr_fin_last,trnr_xr_fin_last2,trnr_xrl5_wins,trnr_xrl5_fin_plc,trnr_xrl5_fin_t2,trnr_xrl5_fin_last,trnr_xrl5_fin_last2,trnr_xr_wins_pct,trnr_xr_fin_t2_pct,trnr_xr_fin_plc_pct,trnr_xr_fin_last_pct,trnr_xr_fin_last2_pct
count,585147.000000,5.851470e+05,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,585147.000000,585147.000000,585147.0,585147.000000,585147.000000,5.851470e+05,585147.000000
mean,111290.151140,7.487792e+08,231.013993,230.027439,0.0,0.382405,0.302816,0.150261,0.300971,0.0,92.555479,73.557238,33.326916,67.515306,0.0,1.891432,1.498030,0.739794,1.483065,0.0,0.278440,0.348932,inf,0.270299
std,78255.733709,6.933931e+07,306.676051,306.665966,0.0,0.507161,0.471054,0.357328,0.472424,0.0,124.716518,100.019585,45.587204,90.112287,0.0,1.299561,1.197477,0.865783,1.186732,0.0,0.126375,0.135397,NaN,0.121008
min,6418.000000,6.238619e+08,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
25%,65398.000000,6.892970e+08,46.000000,45.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,15.000000,12.000000,6.000000,12.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,0.200000,0.266667,9.375000e-02,0.200000
50%,99499.000000,7.506874e+08,122.000000,121.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,44.000000,34.000000,16.000000,34.000000,0.0,2.000000,1.000000,1.000000,1.000000,0.0,0.272727,0.347368,1.343284e-01,0.256684
75%,125264.000000,8.082212e+08,283.000000,282.000000,0.0,1.000000,1.000000,0.000000,1.000000,0.0,112.000000,89.000000,41.000000,83.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,0.350000,0.428571,1.917211e-01,0.333333
max,335886.000000,8.686263e+08,2611.000000,2610.000000,0.0,3.000000,2.000000,1.000000,2.000000,0.0,824.000000,710.000000,383.000000,727.000000,0.0,12.000000,8.000000,5.000000,9.000000,0.0,1.000000,1.000000,inf,1.000000

In [50]:
print(datetime.now())

2023-02-22 21:46:24.740352

In [51]:

exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)

In [52]:
print(datetime.now())

2023-02-22 21:49:05.044966

In [53]:

print('THE END')

THE END