In [1]:

# Import libraries
import betfairlightweight
from betfairlightweight import filters
from datetime import datetime
from datetime import timedelta
from dateutil import tz
import math
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.linear_model import LogisticRegression
import fasttrack as ft

In [2]:

fasttrack_key = "dcc0a791-6b18-4cc4-8d46-453a00e9b7e4"
greys = ft.Fasttrack(fasttrack_key)

Valid Security Key

In [4]:


track_codes = greys.listTracks()
track_codes.head()

   track_name track_code state
0      Albury        223   NSW
1    Armidale        225   NSW
2    Bathurst        226   NSW
3  Broke Hill        227   NSW
4       Bulli        202   NSW

In [5]:

print(track_codes.state.value_counts())

NSW    49
VIC    17
QLD    15
NZ     13
SA     12
TAS     3
WA      3
NT      1
Name: state, dtype: int64

In [8]:

#tracks_filter = list(track_codes[track_codes['state'] == 'QLD']['track_code'])
#print(len(tracks_filter)) 13
tracks_filter = list(track_codes['track_code'])
print(len(tracks_filter)) # 115

15
113

In [ ]:

race_details, dog_results = greys.getRaceResults('2021-12-01', '2021-12-31', tracks_filter)
#race_details, dog_results = greys.getRaceResults('2018-01-01', '2021-06-15')

Getting meets for each date ..

100%|██████████████████████████████████████████████████████████████████████████████████| 31/31 [00:22<00:00,  1.40it/s]

Getting historic results details ..

 87%|█████████████████████████████████████████████████████████████████████▋          | 358/411 [05:29<00:47,  1.12it/s]

In [ ]:

print(datetime.now())

In [10]:

print(type(race_details))
print(type(dog_results))

print(race_details.columns.values.tolist())
print(dog_results.columns.values.tolist())

print(race_details.shape)
print(dog_results.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(8949, 8)
(79464, 19)

In [11]:
race_details.head()

,@id,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date
0,626271122,1,HAPPY NEW YEAR,02:24PM,288m,Maiden Heat,Ipswich,01 Jan 21
1,626271123,2,TAB LIVE SKY RACING VISION,02:49PM,288m,Maiden Heat,Ipswich,01 Jan 21
2,626271124,3,SKY RACING,03:04PM,288m,Novice Non Penalty,Ipswich,01 Jan 21
3,626271125,4,WWW.IPSWICHGREYHOUNDS.COM,03:24PM,288m,Novice Non Penalty,Ipswich,01 Jan 21
4,626271126,5,GREYHOUND_DATA.COM,03:41PM,431m,Grade 5 Heat,Ipswich,01 Jan 21

In [12]:

dog_results.head()

,@id,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName
0,460023770,1,SAKKARI,4,4,28.0,$3.20F,None,1.75,None,None,0,None,None,17.14,1400.00,626271122,66176,A Monaghan
1,407727859,2,BANJO LAD,7,7,30.6,$12.00,None,1.75,1.71,None,0,None,None,17.26,400.00,626271122,275881,N Evans
2,450198101,3,OHANA LEA,5,5,25.1,$5.00,None,2.50,1.00,None,0,None,None,17.33,200.00,626271122,83303,M Heilbronn
3,323655139,4,CLONMORE,2,2,25.4,$8.50,None,3.75,1.14,None,0,None,None,17.41,100.00,626271122,61234,B Kitchener
4,393648268,5,AURIGA RACHEL,8,9,28.9,$26.00,None,5.25,1.43,None,0,None,None,17.51,0.00,626271122,105852,G Draheim

In [14]:

race_details.to_csv("C:\\Users\\karan\\Documents\\Data\\racing\\race_details_20210101_20220424.csv", index = False)

In [15]:

dog_results.to_csv("C:\\Users\\karan\\Documents\\Data\\racing\\dog_results_20210101_20220424.csv", index = False)