
"""
More Variables :

Total Races from current race
- Races in the last 7/14/28/60/90/180/365/730 days 
- Races won in the 7/14/28/60/90/180/365/730 days
- Races placed in the 7/14/28/60/90/180/365/730 days


"""


# Import the code

In [1]:

fileloc  = '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti'

import sys
print(sys.path)
print()
#sys.path.append(f'{fileloc}')
print()
#print(sys.path)

['/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti', '/anaconda/envs/azureml_py38/lib/python38.zip', '/anaconda/envs/azureml_py38/lib/python3.8', '/anaconda/envs/azureml_py38/lib/python3.8/lib-dynload', '', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/_project/vendor', '/anaconda/envs/azureml_py38/lib/python3.8/site-packages/azureml/automl/core/_vendor']

In [2]:

class Data(object):
    pass

df = Data
summ = Data

In [3]:
import helpdesk as hd

In [4]:

import pandas as pd, numpy as np
from datetime import datetime

In [5]:
DEBUG = True

In [6]:

pd.set_option('display.max_rows', 50);
pd.set_option('display.max_columns', 50);
pd.set_option('display.width', 200);

In [7]:

fname_race = 'race_details_2022Q1_2022Q4.csv'
fname_dogs = 'dog_results_2022Q1_2022Q2.csv'

In [8]:

#race_details = pd.read_csv(f'{fileloc}/{fname_race}')
dogs_details = pd.read_csv(f'{fileloc}/{fname_dogs}')

#print(race_details.shape)
print(dogs_details.shape)

(320052, 19)

In [35]:

# Importing Dog Race Results

#res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20211201_20211231.csv')
#df.res_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\dog_results_20220101_20220531.csv')

print(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')

df.res_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/dog_results_2021Q1_2021Q4.csv')
print(df.res_raw_2021Q1Q4.columns.values.tolist())
print(df.res_raw_2021Q1Q4.shape)

df.res_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/dog_results_2022Q1_2022Q2.csv')
print(df.res_raw_2022Q1Q2.columns.values.tolist())
print(df.res_raw_2022Q1Q2.shape)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/dog_results_2022Q1_2022Q2.csv
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(435715, 19)
['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(320052, 19)

In [36]:

df.res_raw = df.res_raw_2021Q1Q4.append( df.res_raw_2022Q1Q2 )
print(df.res_raw.columns.values.tolist())
print(df.res_raw.shape)

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
(755767, 19)

In [37]:

df.res_raw.loc[:,"DogName"] = df.res_raw["DogName"].str.replace("'","").str.replace(".","")
if DEBUG: print(df.res_raw.shape) 
# 320 052

#if DEBUG: res_raw[ ~(res_raw.Place.isin( ['D','F','N','R','S','T',''])) ].shape # 66608
if DEBUG: print(df.res_raw[ ~(df.res_raw.Place.isin( ['R','S'])) ].shape) 
# 275 864

df.res_raw2 = df.res_raw[ ~(df.res_raw.Place.isin( ['R','S']))  ]
df.res_ = df.res_raw2[~df.res_raw2.Place.isna()]
if DEBUG: print(df.res_.shape) 
# 273 735

del df.res_raw, df.res_raw2

#res_ = res_raw

(755767, 19)
(649399, 19)
(644761, 19)

In [39]:

# Importing Race Details 

#race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20211201_20211231.csv', parse_dates = True)
#df.race_raw = pd.read_csv('C:\\Users\\karan\\Documents\\Data\\racing\\FastTrack\\Past\\race_details_20220101_20220531.csv', parse_dates = True)

print(f'{fileloc}/race_details_2022Q1_2022Q2.csv')

df.race_raw_2022Q1Q2 = pd.read_csv(f'{fileloc}/race_details_2022Q1_2022Q2.csv', parse_dates = True)
print(df.race_raw_2022Q1Q2.columns.values.tolist())
print(df.race_raw_2022Q1Q2.shape)

df.race_raw_2021Q1Q4 = pd.read_csv(f'{fileloc}/race_details_2021Q1_2021Q4.csv', parse_dates = True)
print(df.race_raw_2021Q1Q4.columns.values.tolist())
print(df.race_raw_2021Q1Q4.shape)

/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-one/code/Users/karan.bhatti/race_details_2022Q1_2022Q2.csv
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(38562, 8)
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(51833, 8)

In [44]:

df.race_raw = df.race_raw_2021Q1Q4.append( df.race_raw_2022Q1Q2 )
print(df.race_raw.columns.values.tolist())
print(df.race_raw.shape)

['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date']
(90395, 8)

In [45]:

df.race_raw['Event_Dt'] = pd.to_datetime(df.race_raw['date']).dt.date

#dtvalct = race_raw.Event_Dt.value_counts()

df.race_raw.loc[df.race_raw.Track.isin(['Murray Bridge (MBR)','Murray Bridge (MBS)']), "Track"] = 'Murray Bridge'
df.race_raw.loc[df.race_raw.Track.isin(['Richmond (RIS)']), "Track"] = 'Richmond'

df.race_raw.loc[df.race_raw.Track.isin(['Sandown (SAP)']), "Track"] = 'Sandown Park'

df.race_raw.loc[df.race_raw.Track.isin(['Meadows (MEP)']), "Track"] = 'Meadows'
df.race_raw.loc[df.race_raw.Track.isin(['The Meadows']), "Track"] = 'Meadows'


if DEBUG : print(df.race_raw.shape)

# 2021
# 52,103 Races

# 2022 upto May
# 21,002 Races

# 2022 Q1/Q2
# 38,562 Races

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 81,412 Races

df.race_ = df.race_raw[ ~df.race_raw.Track.str.contains('NZ')]

if DEBUG : print(df.race_.shape)

del df.race_raw

if DEBUG: print(df.race_.dtypes)

(90395, 9)
(81412, 9)
@id           int64
RaceNum       int64
RaceName     object
RaceTime     object
Distance     object
RaceGrade    object
Track        object
date         object
Event_Dt     object
dtype: object

In [46]:

if DEBUG:
    print(df.res_.columns.values.tolist())
    print(df.race_.columns.values.tolist())
    
    print(df.res_.shape)
    print(df.race_.shape)

df.ft = pd.merge(df.res_, df.race_, left_on = 'RaceId', right_on = '@id', how = 'inner', suffixes=('_DOG', '_RACE'))
if DEBUG: print(df.ft.shape)

# 2021
# 333,285

# 2022 upto May
# 132,558

# 2022 Q1/Q2
# 245,827

# 2022 Q1/Q2 + 2021 Q1/Q2/Q3/Q4
# 245,827

#qc_DogName = df.ft_merg.DogName.value_counts()

['@id', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName']
['@id', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']
(644761, 19)
(81412, 9)
(577317, 28)

In [12]:

#summ.ft = hd.describe_df(df.ft)

In [47]:

print(df.ft.columns.values.tolist())

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt']

In [48]:
df.ft.sort_values(by = ['@id_DOG', 'DogName', 'Event_Dt'], inplace = True)

In [49]:

df.ft[df.ft.DogName.isin(['FOURTH DIMENTION'])]

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt
1816,114244064,5,FOURTH DIMENTION,8.0,8,34.0,$29.60,NaN,6.03,0.74,M/4,0,NaN,4.02,17.29,NaN,628251510,131578,P Pollutro,628251510,12,GOUGH CUTS VETERANS (250+ RANK),02:27PM,300m,S/E Veteran,Healesville,03 Jan 21,2021-01-03
11600,114244064,2,FOURTH DIMENTION,3.0,3,33.4,$4.20,NaN,0.39,0.39,M/22,1,NaN,8.36,22.75,NaN,631783547,131578,P Pollutro,631783547,7,TAB - LONG MAY WE PLAY,05:15PM,400m,Grade 5 T3,Warragul,14 Jan 21,2021-01-14
26936,114244064,2,FOURTH DIMENTION,8.0,8,33.2,$2.70F,NaN,0.60,0.60,M/33,0,NaN,8.56,23.16,NaN,636866192,131578,P Pollutro,636866192,12,SENNACHIE AT STUD,06:08PM,400m,Grade 5,Warragul,01 Feb 21,2021-02-01
45746,114244064,2,FOURTH DIMENTION,7.0,7,33.7,$16.40,NaN,6.04,6.04,M/53,0,NaN,8.48,22.90,475.0,643694824,131578,P Pollutro,643694824,12,FIND US ON FACEBOOK,10:41PM,400m,Grade 5,Warragul,23 Feb 21,2021-02-23
51814,114244064,8,FOURTH DIMENTION,3.0,3,33.6,$29.60,NaN,7.60,0.36,M/4,1,NaN,4.00,17.61,NaN,645823097,131578,P Pollutro,645823097,12,DOWNLOAD THE NEW WATCHDOG APP,02:35PM,300m,Grade 5,Healesville,02 Mar 21,2021-03-02
59730,114244064,3,FOURTH DIMENTION,6.0,6,34.0,$9.20,NaN,2.89,0.46,M/66,5,NaN,8.49,23.13,NaN,649065546,131578,P Pollutro,649065546,11,PAUA KENNELS (250+ RANK),06:27PM,400m,Grade 5,Warragul,11 Mar 21,2021-03-11
67746,114244064,3,FOURTH DIMENTION,4.0,4,33.9,$35.00,NaN,2.09,1.81,M/43,4,NaN,8.96,23.16,NaN,651668743,131578,P Pollutro,651668743,12,TAB - LONG MAY WE PLAY,09:22PM,400m,Grade 5,Warragul,20 Mar 21,2021-03-20
71278,114244064,7,FOURTH DIMENTION,6.0,6,34.1,$6.70,NaN,12.46,3.27,M/68,5,NaN,8.66,23.90,NaN,653130657,131578,P Pollutro,653130657,11,SENNACHIE AT STUD,03:32PM,400m,Grade 5 T3,Warragul,25 Mar 21,2021-03-25
77627,114244064,4,FOURTH DIMENTION,4.0,4,34.0,$9.30,NaN,4.90,1.77,M/55,2,NaN,8.65,23.11,NaN,655326037,131578,P Pollutro,655326037,11,DOWNLOAD THE WATCHDOG APP,03:27PM,400m,Grade 5 T3,Warragul,01 Apr 21,2021-04-01
90034,114244064,2,FOURTH DIMENTION,7.0,7,33.7,$7.60,NaN,1.87,1.87,M/32,0,NaN,8.54,22.91,NaN,659557495,131578,P Pollutro,659557495,11,FIND US ON FACEBOOK,05:57PM,400m,Grade 5 T3,Warragul,15 Apr 21,2021-04-15
94525,114244064,3,FOURTH DIMENTION,1.0,1,33.8,$25.90,NaN,2.31,1.09,M/33,0,NaN,8.63,23.09,NaN,661058498,131578,P Pollutro,661058498,12,TOP RUN IMAGES,10:41PM,400m,Grade 5,Warragul,20 Apr 21,2021-04-20
105774,114244064,5,FOURTH DIMENTION,8.0,8,33.7,$10.40,NaN,9.37,1.83,M/3655,1,NaN,5.25,30.53,NaN,665719288,131578,P Pollutro,665719288,12,sandowngreyhounds.com.au (225+ RANK),05:44PM,515m,Grade 5 No Penalty,Sandown Park,02 May 21,2021-05-02
110016,114244064,4,FOURTH DIMENTION,7.0,7,33.8,$41.90,NaN,8.40,2.16,M/76,1,NaN,8.70,23.28,NaN,667003349,131578,P Pollutro,667003349,12,SENNACHIE AT STUD,10:39PM,400m,Grade 5,Warragul,07 May 21,2021-05-07
115537,114244064,2,FOURTH DIMENTION,1.0,1,33.9,$4.40,NaN,1.61,1.61,M/32,0,NaN,8.56,23.04,NaN,668963758,131578,P Pollutro,668963758,12,SENNACHIE AT STUD,06:12PM,400m,Grade 5 T3,Warragul,13 May 21,2021-05-13
139237,114244064,6,FOURTH DIMENTION,1.0,1,33.3,$13.90,NaN,7.64,0.40,M/23,5,NaN,8.68,23.68,NaN,678197189,131578,P Pollutro,678197189,12,SENNACHIE AT STUD (275+ RANK),10:37PM,400m,Grade 5 No Penalty,Warragul,08 Jun 21,2021-06-08
147551,114244064,5,FOURTH DIMENTION,2.0,2,33.7,$7.00,NaN,2.51,0.89,M/45,1,NaN,8.62,23.16,NaN,681909600,131578,P Pollutro,681909600,11,PAUA KENNELS,06:52PM,400m,Grade 5 T3,Warragul,17 Jun 21,2021-06-17
163523,114244064,5,FOURTH DIMENTION,8.0,8,34.6,$41.20,NaN,5.69,0.94,M/66,4,NaN,8.64,23.39,NaN,687829438,131578,P Pollutro,687829438,12,SENNACHIE AT STUD,06:09PM,400m,Grade 5,Warragul,05 Jul 21,2021-07-05
172778,114244064,7,FOURTH DIMENTION,1.0,1,33.7,$4.40,NaN,2.73,0.03,S/55,4,NaN,8.75,23.47,NaN,691718678,131578,P Pollutro,691718678,12,TAB.COM.AU,06:52PM,400m,Grade 5 T3,Warragul,15 Jul 21,2021-07-15
179171,114244064,2,FOURTH DIMENTION,2.0,2,33.6,$6.80,NaN,1.93,1.93,M/44,4,NaN,8.64,23.19,NaN,694218195,131578,P Pollutro,694218195,5,KHANS HOSPITALITY SERVICES,04:44PM,400m,Grade 5 T3,Warragul,22 Jul 21,2021-07-22
185963,114244064,2,FOURTH DIMENTION,8.0,8,33.5,$3.90,NaN,1.83,1.83,M/42,0,NaN,8.64,23.24,NaN,696917055,131578,P Pollutro,696917055,12,SENNACHIE AT STUD,06:22PM,400m,Grade 5 T3,Warragul,29 Jul 21,2021-07-29
192461,114244064,2,FOURTH DIMENTION,5.0,5,34.4,$9.60,NaN,0.20,0.20,S/42,0,NaN,8.64,23.24,290.0,699451624,131578,P Pollutro,699451624,11,SENNACHIE AT STUD,06:35PM,400m,Grade 5 T3,Warragul,05 Aug 21,2021-08-05
199115,114244064,1,FOURTH DIMENTION,4.0,4,33.9,$6.20,NaN,0.59,NaN,M/43,1,NaN,8.65,23.13,NaN,701957626,131578,P Pollutro,701957626,10,SENNACHIE AT STUD,05:59PM,400m,Grade 5 T3,Warragul,12 Aug 21,2021-08-12
205539,114244064,5,FOURTH DIMENTION,3.0,3,33.6,$16.10,NaN,2.99,0.19,M/77,1,NaN,8.56,23.07,NaN,704522232,131578,P Pollutro,704522232,7,DOWNLOAD THE WATCHDOG APP,04:59PM,400m,Grade 5 T3,Warragul,19 Aug 21,2021-08-19
216085,114244064,4,FOURTH DIMENTION,6.0,6,33.9,$17.40,NaN,8.87,1.27,M/64,5,NaN,8.66,23.35,NaN,707073825,131578,P Pollutro,707073825,6,BLUE STREAM PICTURES,04:15PM,400m,Grade 5,Warragul,30 Aug 21,2021-08-30
238525,114244064,5,FOURTH DIMENTION,5.0,5,34.1,$10.40,NaN,9.34,3.29,M/87,5,NaN,8.78,23.68,NaN,714012676,131578,P Pollutro,714012676,11,PAUA KENNELS,02:22PM,400m,Grade 5 T3,Warragul,23 Sep 21,2021-09-23
253378,114244064,3,FOURTH DIMENTION,2.0,2,33.5,$27.90,NaN,5.07,0.26,M/43,0,NaN,8.64,23.04,NaN,717339830,131578,P Pollutro,717339830,12,SENNACHIE AT STUD VETERANS,10:00PM,400m,S/E Veteran,Warragul,09 Oct 21,2021-10-09
259015,114244064,7,FOURTH DIMENTION,6.0,6,33.8,$34.60,NaN,7.74,1.43,M/48,0,NaN,8.64,23.57,NaN,719123885,131578,P Pollutro,719123885,5,SENNACHIE AT STUD,08:35PM,400m,Grade 5,Warragul,15 Oct 21,2021-10-15
271369,114244064,3,FOURTH DIMENTION,5.0,5,33.6,$16.50,NaN,0.57,0.57,M/41,1,NaN,8.64,23.17,NaN,723062250,131578,P Pollutro,723062250,7,BLUE STREAM PICTURES,05:17PM,400m,Grade 5 T3,Warragul,28 Oct 21,2021-10-28
284128,114244064,6,FOURTH DIMENTION,4.0,4,33.5,$7.50,NaN,5.91,1.83,M/76,4,NaN,8.81,23.41,NaN,727721540,131578,P Pollutro,727721540,12,SENNACHIE AT STUD,06:57PM,400m,Grade 5 T3,Warragul,11 Nov 21,2021-11-11
290634,114244064,6,FOURTH DIMENTION,4.0,4,33.6,$7.00,NaN,4.33,1.36,M/77,0,NaN,8.64,23.31,NaN,730483553,131578,P Pollutro,730483553,11,TAB - LONG MAY WE PLAY,06:39PM,400m,Grade 5 T3,Warragul,18 Nov 21,2021-11-18
299283,114244064,3,FOURTH DIMENTION,6.0,6,33.3,$36.90,NaN,3.99,2.13,M/44,5,NaN,8.78,23.13,NaN,734199475,131578,P Pollutro,734199475,11,PAUA KENNELS,09:03PM,400m,Grade 5,Warragul,27 Nov 21,2021-11-27
303812,114244064,4,FOURTH DIMENTION,6.0,6,33.4,$11.60,NaN,2.23,0.73,M/77,1,NaN,8.91,23.33,NaN,736235546,131578,P Pollutro,736235546,11,SUPPORT YOUR LOCAL BUSINESSES,07:32PM,400m,Grade 5 T3,Warragul,02 Dec 21,2021-12-02
317051,114244064,3,FOURTH DIMENTION,3.0,3,33.4,$7.80,NaN,3.94,0.70,M/64,2,NaN,8.75,23.08,NaN,741690925,131578,P Pollutro,741690925,5,BLUE STREAM PICTURES,04:44PM,400m,Grade 5 T3,Warragul,16 Dec 21,2021-12-16
332486,114244064,3,FOURTH DIMENTION,6.0,6,33.6,$79.30,NaN,8.90,1.39,M/84,0,NaN,8.53,23.29,NaN,747034592,131578,P Pollutro,747034592,4,KHANS HOSPITALITY SERVICES,06:57PM,400m,Grade 5,Warragul,02 Jan 22,2022-01-02
336188,114244064,6,FOURTH DIMENTION,2.0,2,33.8,$10.60,NaN,7.66,0.81,M/37,5,NaN,8.56,23.31,NaN,748659833,131578,P Pollutro,748659833,5,FIND US ON FACEBOOK (250+) HT2,04:47PM,400m,S/E Heat,Warragul,06 Jan 22,2022-01-06
342307,114244064,6,FOURTH DIMENTION,8.0,8,33.9,$23.20,NaN,7.43,1.10,S/86,4,NaN,8.82,23.35,0.0,750611239,131578,P Pollutro,750611239,4,BLUE STREAM PICTURES,04:17PM,400m,Grade 5 T3,Warragul,13 Jan 22,2022-01-13
346372,114244064,5,FOURTH DIMENTION,3.0,3,33.2,$20.60,NaN,6.37,0.67,M/655,0,NaN,3.85,22.79,NaN,751682368,131578,P Pollutro,751682368,10,HOOKED ON SCOTCH AT STUD HT5 (275+ RANK),06:08PM,395m,S/E Heat,Traralgon,17 Jan 22,2022-01-17
352579,114244064,2,FOURTH DIMENTION,3.0,3,33.5,$13.30,NaN,6.50,6.50,M/676,0,NaN,3.90,22.62,NaN,753739485,131578,P Pollutro,753739485,10,BRIDGES ON ARGYLE TRARALGON,05:07PM,395m,Grade 5 T3,Traralgon,24 Jan 22,2022-01-24
355177,114244064,1,FOURTH DIMENTION,2.0,2,33.4,$2.60F,NaN,0.81,NaN,M/22,0,NaN,8.68,23.21,NaN,754810613,131578,P Pollutro,754810613,12,SHIMA SHINE AT STUD,06:42PM,400m,Grade 5 T3,Warragul,27 Jan 22,2022-01-27
358847,114244064,6,FOURTH DIMENTION,8.0,8,33.5,$6.00,NaN,10.38,1.89,M/466,4,NaN,3.77,23.11,NaN,755821129,131578,P Pollutro,755821129,8,BRIDGES ON ARGYLE TRARALGON,04:59PM,395m,Grade 5 T3,Traralgon,31 Jan 22,2022-01-31
383420,114244064,6,FOURTH DIMENTION,7.0,7,33.0,$22.50,NaN,19.62,13.49,S/66,0,NaN,7.07,21.40,NaN,764270502,131578,P Pollutro,764270502,12,HARD STYLE RICO AT STUD,06:11PM,350m,Grade 5 T3,Traralgon,28 Feb 22,2022-02-28

In [50]:

# ADDITIONAL VARIABLES
gpbylevel = ['@id_DOG']

# Distance and Speed in each race
df.ft['x_dist'] = df.ft['Distance'].apply(lambda x : x.replace('m','')).astype(int)
df.ft['speed'] = (df.ft['x_dist'] / df.ft['RunTime'])*1000

# Average Speed until prev race
## CAN USE THIS CODE TO GET AVERAGE SPEED L 1/3/5/7/10 races
df.ft['df_avg_speed_prev'] = df.ft.groupby(gpbylevel)['speed'].expanding().mean().shift(1).reset_index().set_index('level_1').rename(columns = {'speed':'avg_speed_prev'})['avg_speed_prev']
# 2 Min Runtime

# Flag for getting a total race count
df.ft['f_1'] = 1

# Total Races
df.ft['x_races_tot'] = df.ft.groupby(gpbylevel).cumcount()

In [51]:

# Fix the Place Variable

#print(df.ft.Place.value_counts())

df.ft['position'] = df.ft.Place.apply(lambda x : x.replace("=","") if x in ['1=','2=','3=','4=','5=','6=','7=','8='] else x)
df.ft['ft_sp'] = df.ft.StartPrice.apply(lambda x : float(str(x).replace("$","").replace("F","")) )

#print(df.ft.position.value_counts())

In [18]:
print( df.ft.columns.values.tolist() )

['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId', 'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'x_dist', 'speed', 'df_avg_speed_prev', 'f_1', 'x_races_tot', 'position', 'ft_sp']

In [19]:

df.ft[df.ft.DogName.isin(['FOURTH DIMENTION'])]
#df.ft[df.ft.DogName.isin(['BARRA BABE'])]

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,x_dist,speed,df_avg_speed_prev,f_1,x_races_tot,position,ft_sp
996,114244064,3,FOURTH DIMENTION,6.0,6,33.6,$79.30,NaN,8.90,1.39,M/84,0,NaN,8.53,23.29,NaN,747034592,131578,P Pollutro,747034592,4,KHANS HOSPITALITY SERVICES,06:57PM,400m,Grade 5,Warragul,02 Jan 22,2022-01-02,400,17174.753113,NaN,1,0,3,79.3
4698,114244064,6,FOURTH DIMENTION,2.0,2,33.8,$10.60,NaN,7.66,0.81,M/37,5,NaN,8.56,23.31,NaN,748659833,131578,P Pollutro,748659833,5,FIND US ON FACEBOOK (250+) HT2,04:47PM,400m,S/E Heat,Warragul,06 Jan 22,2022-01-06,400,17160.017160,17174.753113,1,1,6,10.6
10817,114244064,6,FOURTH DIMENTION,8.0,8,33.9,$23.20,NaN,7.43,1.10,S/86,4,NaN,8.82,23.35,0.0,750611239,131578,P Pollutro,750611239,4,BLUE STREAM PICTURES,04:17PM,400m,Grade 5 T3,Warragul,13 Jan 22,2022-01-13,400,17130.620985,17167.385136,1,2,6,23.2
14882,114244064,5,FOURTH DIMENTION,3.0,3,33.2,$20.60,NaN,6.37,0.67,M/655,0,NaN,3.85,22.79,NaN,751682368,131578,P Pollutro,751682368,10,HOOKED ON SCOTCH AT STUD HT5 (275+ RANK),06:08PM,395m,S/E Heat,Traralgon,17 Jan 22,2022-01-17,395,17332.163229,17155.130419,1,3,5,20.6
21089,114244064,2,FOURTH DIMENTION,3.0,3,33.5,$13.30,NaN,6.50,6.50,M/676,0,NaN,3.90,22.62,NaN,753739485,131578,P Pollutro,753739485,10,BRIDGES ON ARGYLE TRARALGON,05:07PM,395m,Grade 5 T3,Traralgon,24 Jan 22,2022-01-24,395,17462.422635,17199.388622,1,4,2,13.3
23687,114244064,1,FOURTH DIMENTION,2.0,2,33.4,$2.60F,NaN,0.81,NaN,M/22,0,NaN,8.68,23.21,NaN,754810613,131578,P Pollutro,754810613,12,SHIMA SHINE AT STUD,06:42PM,400m,Grade 5 T3,Warragul,27 Jan 22,2022-01-27,400,17233.950883,17251.995424,1,5,1,2.6
27357,114244064,6,FOURTH DIMENTION,8.0,8,33.5,$6.00,NaN,10.38,1.89,M/466,4,NaN,3.77,23.11,NaN,755821129,131578,P Pollutro,755821129,8,BRIDGES ON ARGYLE TRARALGON,04:59PM,395m,Grade 5 T3,Traralgon,31 Jan 22,2022-01-31,395,17092.167893,17248.988001,1,6,6,6.0
51930,114244064,6,FOURTH DIMENTION,7.0,7,33.0,$22.50,NaN,19.62,13.49,S/66,0,NaN,7.07,21.40,NaN,764270502,131578,P Pollutro,764270502,12,HARD STYLE RICO AT STUD,06:11PM,350m,Grade 5 T3,Traralgon,28 Feb 22,2022-02-28,350,16355.140187,17226.585128,1,7,6,22.5

In [52]:


df.ft.agg({'TrainerName':'nunique', 'Track':'nunique', 'DogName':'nunique'})

TrainerName     3548
Track             59
DogName        25550
dtype: int64

In [21]:
pd.set_option('display.max_rows', 50)

In [53]:

tracks_unq = df.ft.Track.unique().tolist()

print(type(tracks_unq))

tracks_unq.sort()

print(tracks_unq)

<class 'list'>
['Albion Park', 'Angle Park', 'Ballarat', 'Bathurst', 'Bendigo', 'Broken Hill', 'Bulli', 'Bundaberg', 'Canberra', 'Cannington', 'Capalaba', 'Casino', 'Coonamble', 'Cranbourne', 'Dapto', 'Darwin', 'Devonport', 'Dubbo', 'Gawler', 'Geelong', 'Gosford', 'Goulburn', 'Grafton', 'Gunnedah', 'Healesville', 'Hobart', 'Horsham', 'Ipswich', 'Kempsey', 'Launceston', 'Lismore', 'Lithgow', 'Maitland', 'Mandurah', 'Meadows', 'Moree', 'Mount Gambier', 'Murray Bridge', 'Muswellbrook', 'Northam', 'Nowra', 'Potts Park', 'Richmond', 'Rockhampton', 'Sale', 'Sandown Park', 'Shepparton', 'Tamworth', 'Taree', 'Temora', 'The Gardens', 'Townsville', 'Traralgon', 'Wagga', 'Warragul', 'Warrnambool', 'Wauchope', 'Wentworth Park', 'Young']

In [54]:

print(datetime.now().date())

2022-10-18

In [24]:

# Need Variables :
# are characteristics of a race 
# are characteristics of the dog
# characteristics of a the dog and the race combined

In [55]:

## SHOULD BE THE LAST STEP OR a Separate Code
#categorical_col_for_dummification = ['Track','TrainerName']
#categorical_col_for_dummification = ['TrainerName']

#df.ft1 = pd.get_dummies(df.ft, columns = categorical_col_for_dummification)
#df.ft1 = pd.get_dummies(df.ft, columns = categorical_col_for_dummification)
df.ft1 = df.ft.copy()

# removed the Categorical columns from the original datast, adds the dummy variables, creates a new dataset

print(df.ft1.columns)
# df.ft1 = df.ft with dummy variables for Track

print()

Index(['@id_DOG', 'Place', 'DogName', 'Box', 'Rug', 'Weight', 'StartPrice', 'Handicap', 'Margin1', 'Margin2', 'PIR', 'Checks', 'Comments', 'SplitMargin', 'RunTime', 'Prizemoney', 'RaceId',
       'TrainerId', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'RaceTime', 'Distance', 'RaceGrade', 'Track', 'date', 'Event_Dt', 'x_dist', 'speed', 'df_avg_speed_prev', 'f_1', 'x_races_tot',
       'position', 'ft_sp'],
      dtype='object')

In [56]:

df.ft1

,@id_DOG,Place,DogName,Box,Rug,Weight,StartPrice,Handicap,Margin1,Margin2,PIR,Checks,Comments,SplitMargin,RunTime,Prizemoney,RaceId,TrainerId,TrainerName,@id_RACE,RaceNum,RaceName,RaceTime,Distance,RaceGrade,Track,date,Event_Dt,x_dist,speed,df_avg_speed_prev,f_1,x_races_tot,position,ft_sp
4011,108390981,4,DOLLY DOES IT,5.0,5,30.4,$11.00,NaN,6.00,0.14,0,0,B3,NaN,26.43,80.0,626271182,92892,M Elphinstone,626271182,10,GREAT NORTHERN,03:14PM,452m,Mixed 4/5,Devonport,05 Jan 21,2021-01-05,452,17101.778282,NaN,1,0,4,11.0
10008,108390981,5,DOLLY DOES IT,4.0,4,30.2,$7.00,NaN,6.00,1.14,0,0,NaN,NaN,26.40,0.0,629797242,92892,M Elphinstone,629797242,10,GREAT NORTHERN,03:09PM,452m,Grade 5,Devonport,12 Jan 21,2021-01-12,452,17121.212121,17101.778282,1,1,5,7.0
16043,108390981,1,DOLLY DOES IT,5.0,5,30.2,$7.00,NaN,5.25,NaN,0,0,NaN,8.10,26.20,1890.0,629797513,92892,M Elphinstone,629797513,4,SUREPICK,01:27PM,452m,Grade 5,Devonport,19 Jan 21,2021-01-19,452,17251.908397,17111.495202,1,2,1,7.0
39726,108390981,7,DOLLY DOES IT,1.0,1,30.0,$7.00,NaN,10.50,2.00,0,0,NaN,NaN,26.48,0.0,638810808,92892,M Elphinstone,638810808,8,LADBROKES,02:22PM,452m,Mixed 4/5 Heat,Devonport,16 Feb 21,2021-02-16,452,17069.486405,17158.299600,1,3,7,7.0
51934,108390981,8,DOLLY DOES IT,8.0,8,29.9,$91.00,NaN,18.50,3.57,0,0,SO,NaN,26.91,0.0,643554706,92892,M Elphinstone,643554706,8,NEW RECRUIT 2012,02:22PM,452m,Grade 4,Devonport,02 Mar 21,2021-03-02,452,16796.729840,17136.096301,1,4,8,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42357,2145360049,5,SHELBOURNE STAR,7.0,7,36.2,$19.80,NaN,3.04,0.66,M/666,0,NaN,6.81,26.15,NaN,642767973,106684,G Summers,642767973,8,TAB - LONG MAY WE PLAY,09:35PM,460m,Mixed 4/5,Warragul,19 Feb 21,2021-02-19,460,17590.822180,17298.591647,1,2,5,19.8
141200,2145360049,5,SHELBOURNE STAR,6.0,6,35.3,$14.10,NaN,6.46,0.44,M/76,0,NaN,8.68,23.25,NaN,679045389,106684,G Summers,679045389,10,PINK DIAMOND VETERANS HT1 (VICGREYS),06:12PM,400m,S/E Veteran,Warragul,10 Jun 21,2021-06-10,400,17204.301075,17396.001824,1,3,5,14.1
152081,2145360049,3,SHELBOURNE STAR,3.0,3,35.5,$27.20,NaN,6.63,5.06,M/555,4,NaN,6.76,26.43,NaN,683214211,106684,G Summers,683214211,5,DOWNLOAD THE WATCHDOG APP,08:16PM,460m,Grade 5,Warragul,22 Jun 21,2021-06-22,460,17404.464624,17348.076637,1,4,3,27.2
280572,2145360049,8,SHELBOURNE STAR,1.0,1,36.5,$26.90,NaN,9.39,1.07,M/8,2,NaN,6.81,20.13,NaN,726157416,106684,G Summers,726157416,3,PITSTOP MOWER REPAIRS VETERANS,11:32AM,350m,S/E Veteran,Healesville,07 Nov 21,2021-11-07,350,17386.984600,17359.354234,1,5,8,26.9
301965,2145360049,7,SHELBOURNE STAR,1.0,1,36.8,$27.10,NaN,9.36,0.84,S/77,4,NaN,8.72,23.08,NaN,735164900,106684,G Summers,735164900,4,SENNACHIE AT STUD VETERANS,07:39PM,400m,S/E Veteran,Warragul,30 Nov 21,2021-11-30,400,17331.022530,17363.959295,1,6,7,27.1

In [57]:

#keep_cols_for_export = ['@id_DOG', 'DogName', '@id_RACE','RaceName','Track','RaceGrade','Distance','TrainerName','RunTime','Place','x_races_tot']

# 'TrainerName', 'Track' have been dummified
cols_for_drop = ['Box','Rug','Weight','Handicap','Margin1','Margin2','PIR','Checks','Comments','SplitMargin','Prizemoney','RaceId','TrainerId','RaceTime','Distance','RaceGrade','date', 'f_1','speed',\
                'Place','StartPrice']
#'Event_Dt', 

todaydt = datetime.now().date()
exp_fname = f'raw_dataset_{todaydt}.csv'

exp_ds = df.ft1.drop(columns = cols_for_drop).rename(columns = { 'RunTime' : 'y_runtime' })

In [58]:

print(exp_ds.columns.values.tolist())

['@id_DOG', 'DogName', 'y_runtime', 'TrainerName', '@id_RACE', 'RaceNum', 'RaceName', 'Track', 'Event_Dt', 'x_dist', 'df_avg_speed_prev', 'x_races_tot', 'position', 'ft_sp']

In [59]:

exp_ds

,@id_DOG,DogName,y_runtime,TrainerName,@id_RACE,RaceNum,RaceName,Track,Event_Dt,x_dist,df_avg_speed_prev,x_races_tot,position,ft_sp
4011,108390981,DOLLY DOES IT,26.43,M Elphinstone,626271182,10,GREAT NORTHERN,Devonport,2021-01-05,452,NaN,0,4,11.0
10008,108390981,DOLLY DOES IT,26.40,M Elphinstone,629797242,10,GREAT NORTHERN,Devonport,2021-01-12,452,17101.778282,1,5,7.0
16043,108390981,DOLLY DOES IT,26.20,M Elphinstone,629797513,4,SUREPICK,Devonport,2021-01-19,452,17111.495202,2,1,7.0
39726,108390981,DOLLY DOES IT,26.48,M Elphinstone,638810808,8,LADBROKES,Devonport,2021-02-16,452,17158.299600,3,7,7.0
51934,108390981,DOLLY DOES IT,26.91,M Elphinstone,643554706,8,NEW RECRUIT 2012,Devonport,2021-03-02,452,17136.096301,4,8,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42357,2145360049,SHELBOURNE STAR,26.15,G Summers,642767973,8,TAB - LONG MAY WE PLAY,Warragul,2021-02-19,460,17298.591647,2,5,19.8
141200,2145360049,SHELBOURNE STAR,23.25,G Summers,679045389,10,PINK DIAMOND VETERANS HT1 (VICGREYS),Warragul,2021-06-10,400,17396.001824,3,5,14.1
152081,2145360049,SHELBOURNE STAR,26.43,G Summers,683214211,5,DOWNLOAD THE WATCHDOG APP,Warragul,2021-06-22,460,17348.076637,4,3,27.2
280572,2145360049,SHELBOURNE STAR,20.13,G Summers,726157416,3,PITSTOP MOWER REPAIRS VETERANS,Healesville,2021-11-07,350,17359.354234,5,8,26.9
301965,2145360049,SHELBOURNE STAR,23.08,G Summers,735164900,4,SENNACHIE AT STUD VETERANS,Warragul,2021-11-30,400,17363.959295,6,7,27.1

In [60]:

exp_ds.to_csv(f'{fileloc}/{exp_fname}', index = False)

In [61]:

exp_ds.describe()

            @id_DOG      y_runtime      @id_RACE        RaceNum         x_dist  df_avg_speed_prev    x_races_tot          ft_sp
count  5.773170e+05  571461.000000  5.773170e+05  577317.000000  577317.000000      576969.000000  577317.000000  572835.000000
mean   4.529757e+08      24.443111  7.291649e+08       6.130635     417.576751       17092.757958      18.616323      16.915183
std    1.123050e+08       4.980097  5.831585e+07       3.286365      83.869702         331.990727      16.087385      20.981730
min    1.083910e+08      10.000000  6.238619e+08       1.000000     259.000000       11387.473779       0.000000       0.260000
25%    3.836047e+08      20.580000  6.798780e+08       3.000000     350.000000       16911.622565       6.000000       4.200000
50%    4.517682e+08      23.540000  7.290297e+08       6.000000     400.000000       17115.471218      14.000000       8.700000
75%    5.283827e+08      27.260000  7.792435e+08       9.000000     461.000000       17293.950122      27.000000      20.600000
max    2.145360e+09     396.120000  8.292517e+08      18.000000     732.000000       40200.000000     126.000000     999.990000